<div class="content">
  <div *ngIf="currentLanguage === 'tr'">
    <h1><span class="c9 c23">KULLANIM S&Ouml;ZLE&#350;MES&#304;</span></h1>
    <hr>
    <p class="c14 c18"><span class="c4"></span></p>
    <p class="c18 c22"><span class="c11 c17">Son g&uuml;ncellenme tarihi: 15 A&#287;ustos 2017</span></p>
    <p class="c14 c18"><span class="c17 c11"></span></p>
    <ol class="c2 lst-kix_z6kr1siuw9hv-0 start" start="1">
      <li class="c5"><span class="c3">TARAFLAR</span></li>
    </ol>
    <p class="c14"><span class="c3"></span></p>
    <p class="c8"><span class="c11">&#304;</span><span class="c0">&#351; bu s&ouml;zle&#351;me (bundan b&ouml;yle &quot;s&ouml;zle&#351;me&quot; olarak an&#305;lacakt&#305;r), https://payyex.com adresindeki internet sitesini (&quot;site&quot;) i&#351;leten, Hacet Mh. B&uuml;y&uuml;khasbah&ccedil;e Cd. 45/5, Alanya, Antalya adresinde mukim Blockchain Bili&#351;im Teknolojileri Yat&#305;r&#305;m Dan&#305;&#351;manl&#305;&#287;&#305; ve Ticaret Anonim &#350;irketi (&quot;Payyex&quot;) ile sitenin herhangi bir sayfas&#305;na eri&#351;en, siteyi ya da ilgili uygulamalar&#305; herhangi bir &#351;ekilde kullanan, ya da Blockchain Bili&#351;im A.&#350;.nin sundu&#287;u hizmetlerden (&quot;hizmetler&quot;) herhangi bir &#351;ekilde faydalanan ger&ccedil;ek ya da t&uuml;zel ki&#351;i (bundan b&ouml;yle &quot;kullan&#305;c&#305;&quot; olarak an&#305;lacakt&#305;r)</span>
    </p>
    <p class="c7"><span class="c0"></span></p>
    <ol class="c2 lst-kix_z6kr1siuw9hv-0" start="2">
      <li class="c5"><span class="c3">KONU</span></li>
    </ol>
    <p class="c14"><span class="c3"></span></p>
    <p class="c8"><span
            class="c11">&#304;&#351; bu s&ouml;zle&#351;me taraflar aras&#305;nda site taraf&#305;ndan verilen </span><span
            class="c0">hizmetlerin kullan&#305;m&#305;na ili&#351;kin yasal h&uuml;k&uuml;mleri ortaya koyar. Kullan&#305;c&#305; siteyi kullanarak, &uuml;ye olarak, herhangi bir sayfas&#305;n&#305; ziyaret ederek, yahut hizmetlerden herhangi bir &#351;ekilde faydalanarak, s&ouml;zle&#351;menin tamam&#305;n&#305; okuyup eksiksiz bir bi&ccedil;imde anlad&#305;&#287;&#305;n&#305; ve her maddesine uyaca&#287;&#305;n&#305; kabul, beyan ve taahh&uuml;t eder.</span>
    </p>
    <p class="c7"><span class="c0"></span></p>
    <ol class="c2 lst-kix_z6kr1siuw9hv-0" start="3">
      <li class="c5"><span class="c3">TANIMLAR</span></li>
    </ol>
    <p class="c14"><span class="c3"></span></p>
    <ol class="c2 lst-kix_z6kr1siuw9hv-1 start" start="1">
      <li class="c1"><span class="c9">Payyex: </span><span class="c11">Hacet Mh. B&uuml;y&uuml;khasbah&ccedil;e Cd. 45/5, Alanya, Antalya adresinde mukim Blockchain Bili&#351;im Teknolojileri Yat&#305;r&#305;m Dan&#305;&#351;manl&#305;&#287;&#305; ve Ticaret Anonim &#350;irketi</span>
      </li>
      <li class="c1"><span class="c9">Site: </span><span class="c11">https://payyex.com adresindeki internet sitesi</span>
      </li>
      <li class="c1"><span class="c9">Kullan&#305;c&#305;: </span><span class="c11">sitenin herhangi bir sayfas&#305;na eri&#351;en, siteyi ya da ilgili uygulamalar&#305; herhangi bir &#351;ekilde kullanan, ya da Blockchain A.&#350;.nin sundu&#287;u hizmetlerden (&quot;hizmetler&quot;) herhangi bir &#351;ekilde faydalanan ger&ccedil;ek ya da t&uuml;zel ki&#351;i</span>
      </li>
      <li class="c1"><span class="c9">Kripto Para: </span><span class="c24">Ba&#351;ta Bitcoin, Ethereum ve Litecoin olmak &uuml;zere, Payyex sistemi &uuml;zerinde kullan&#305;c&#305;n&#305;n i&#351;lem yapmas&#305;na imkan sa&#287;lanan dijital para birimlerinin genel ad&#305;d&#305;r.</span><span
              class="c10">&nbsp;</span><span class="c16">Kripto paralar, merkezi elektronik paralar&#305;n ve bankac&#305;l&#305;k sistemlerindekinin aksine, merkezi olmayan yap&#305;dad&#305;rlar. Merkezi olmayan bu yap&#305;n&#305;n kontrol&uuml; Blok Zincir (Blockchain) i&#351;lem veri tabanlar&#305; taraf&#305;ndan ger&ccedil;ekle&#351;tirilir.( Sermaye piyasas&#305; kurulu ara&#351;t&#305;rma dairesinin Aral&#305;k 2016&rsquo;da yay&#305;nlam&#305;&#351; oldu&#287;u &ldquo;Kripto-Para Bitcoin&rdquo; raporundan al&#305;nm&#305;&#351;t&#305;r.)</span>
      </li>
      <li class="c1"><span class="c9">Kripto Para Adresi: </span><span class="c0">K&#305;saca kripto paralar&#305;n IBAN numaralar&#305;d&#305;r. Kripto paralar&#305;n sakland&#305;&#287;&#305;, g&ouml;nderildi&#287;i ve al&#305;nd&#305;&#287;&#305; adreslere denir. Bu adresler kriptografik anahtar e&#351;leridir. A&ccedil;&#305;k adresler yakla&#351;&#305;k 33-35 harf ve say&#305; kullan&#305;larak olu&#351;turulan &ldquo;1&rdquo; ya da &ldquo;3&rdquo; ile ba&#351;layan Alfanumaretik dizilerdir. &Ouml;rnek adres: 1TefGD34yps91Fgbk8hRFGkuktg667harb </span>
      </li>
      <li class="c1"><span class="c9">C&uuml;zdan: </span><span class="c0">Payyex taraf&#305;ndan kullan&#305;c&#305;n&#305;n kullan&#305;m&#305;na sunulan ve y&ouml;netilen, kullan&#305;c&#305;n&#305;n kripto para g&ouml;nderip almas&#305;na imkan sa&#287;layan ve kripto paralar&#305;n sakland&#305;&#287;&#305; dijital veri saklama alan&#305;</span>
      </li>
    </ol>
    <ol class="c2 lst-kix_z6kr1siuw9hv-0" start="4">
      <li class="c5"><span class="c3">HAK ve Y&Uuml;K&Uuml;ML&Uuml;L&Uuml;KLER</span></li>
    </ol>
    <p class="c14"><span class="c3"></span></p>
    <ol class="c2 lst-kix_z6kr1siuw9hv-1" start="7">
      <li class="c1"><span class="c0">Kullan&#305;c&#305;, e&#287;er s&ouml;zle&#351;menin tamam&#305;n&#305; ya da bir k&#305;sm&#305;n&#305; kabul etmiyorsa siteyi ve hizmetleri hi&ccedil;bir &#351;ekilde kullanmaya devam etmemelidir. Kullan&#305;c&#305;, herhangi bir sebep belirtmeksizin site &uuml;zerindeki &uuml;yelik bilgilerine ili&#351;kin t&uuml;m verilerin &#351;irket veri taban&#305;ndan kal&#305;c&#305; olarak silinmesini talep etme hakk&#305;na sahiptir. B&ouml;yle bir talep kar&#351;&#305;s&#305;nda &#351;irket kullan&#305;c&#305;n&#305;n hesab&#305; ile birlikte t&uuml;m verileri hesapta bakiye bulunmamas&#305; ko&#351;uluyla kal&#305;c&#305; olarak veri taban&#305;ndan kald&#305;racakt&#305;r.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305;, siteyi t&uuml;zel bir ki&#351;i ad&#305;na kullan&#305;yor ya da hizmetlerden t&uuml;zel bir ki&#351;i ad&#305;na faydalan&#305;yorsa &uuml;yelik ve kullan&#305;m hakk&#305;, t&uuml;zel ki&#351;i ad&#305;na a&ccedil;&#305;lmal&#305;d&#305;r. T&uuml;zel ki&#351;iler Payyex hizmetlerinden ancak ve ancak s&ouml;z konusu t&uuml;zel ki&#351;i ad&#305;na imza yetkisi taraf&#305;ndan t&uuml;zel ki&#351;ilik ad&#305;na a&ccedil;&#305;lan &uuml;yelik &uuml;zerinden faydalanabilir. Bu konuda Payyex ile ilgili alandan ileti&#351;ime ge&ccedil;ilmelidir.</span>
      </li>
      <li class="c1"><span class="c0">Site &uuml;zerindeki herhangi bir bilgi ile s&ouml;zle&#351;menin ihtilaf&#305; durumunda s&ouml;zle&#351;me esas al&#305;n&#305;r.</span>
      </li>
      <li class="c1"><span class="c0">Hizmetlerin kullan&#305;m&#305;na ili&#351;kin &uuml;cret, komisyon ve limitler sitenin ya da platformun ilgili destek k&#305;s&#305;mlar&#305;nda belirtilir. Payyex, &uuml;retti&#287;i ve/veya al&#305;m sat&#305;m&#305;n&#305; yapt&#305;&#287;&#305; dijital varl&#305;klara ve sundu&#287;u hizmetlere ili&#351;kin fiyat, komisyon ve di&#287;er detaylar&#305; de&#287;i&#351;tirme hakk&#305;na sahiptir.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305; s&ouml;zle&#351;meye uydu&#287;u m&uuml;ddet&ccedil;e siteyi kullanabilir ve hizmetlerden faydalanabilir. Kullan&#305;c&#305;n&#305;n siteyi kullanmaya veya hizmetlerden faydalanmaya devam etmesi, s&ouml;zle&#351;me kurallar&#305;n&#305; a&ccedil;&#305;k&ccedil;a kabul etti&#287;i ve s&ouml;zle&#351;menin h&uuml;k&uuml;mlerine tamamen uyaca&#287;&#305;n&#305; taahh&uuml;t etti&#287;i anlam&#305;na gelir.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305; siteyi ya da hizmetleri kullanarak kendisi i&ccedil;in uygulanabilir her t&uuml;rl&uuml; yasaya uydu&#287;unu, 18 ya&#351;&#305;n&#305; doldurmu&#351; oldu&#287;unu ve s&ouml;zle&#351;menin t&uuml;m h&uuml;k&uuml;mlerini kabul etmesine yasal hi&ccedil;bir engelin bulunmad&#305;&#287;&#305;n&#305;, ayr&#305;ca kripto para ve benzeri dijital varl&#305;klar&#305; kullanmas&#305;nda hi&ccedil;bir yasal engelin bulunmad&#305;&#287;&#305;n&#305; a&ccedil;&#305;k&ccedil;a beyan eder.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305; s&ouml;zle&#351;menin tamam&#305;n&#305; dikkatlice okumakla y&uuml;k&uuml;ml&uuml;d&uuml;r.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305; siteyi kullanmak ve hizmetlerden faydalanmakla ilgili kendisi i&ccedil;in uygulanabilir olan her t&uuml;rl&uuml; yasa ve mevzuata uymakla y&uuml;k&uuml;ml&uuml;d&uuml;r.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305; site hesab&#305;nda bulundurdu&#287;u dijital varl&#305;klar&#305;n ve kripto paralar&#305;n tamam&#305;n&#305;n kendisine ait oldu&#287;unu, bu durumun ve bu dijital varl&#305;klar&#305;n ve kripto paralar&#305;n platform &uuml;zerindeki transferlerinin ve takaslar&#305;n&#305;n, ve platformda yap&#305;labilecek di&#287;er i&#351;lemlerin kendisi i&ccedil;in uygulanabilir olan hi&ccedil;bir yasa taraf&#305;ndan engellenmedi&#287;ini beyan eder. Ayn&#305; zamanda, siteyi kullan&#305;p hizmetlerden faydalan&#305;rken, ya da site hesab&#305; ile herhangi bir i&#351;lem ger&ccedil;ekle&#351;tirirken hi&ccedil;bir &uuml;&ccedil;&uuml;nc&uuml; taraf&#305;n haklar&#305;n&#305; ihlal etmeyece&#287;ini ve hi&ccedil;bir yasaya ayk&#305;r&#305; davran&#305;&#351; sergilemeyece&#287;ini taahh&uuml;t eder.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305;, dijital varl&#305;klar&#305; ve kripto paralar&#305; bar&#305;nd&#305;ran hesaba ili&#351;kin &#351;ifrenin g&uuml;venli&#287;inden tamamen kendisi sorumludur. Kullan&#305;c&#305;n&#305;n hesab&#305;na eri&#351;iminin kullan&#305;c&#305; kaynakl&#305; bir nedenle kaybolmas&#305;, ya da hesapta bulunan dijital varl&#305;klar&#305;n veya kripto paralar&#305;n bir siber sald&#305;r&#305; veya ihmal sonucunda ya da herhangi ba&#351;ka bir &#351;ekilde eksilmesi veya yok olmas&#305; durumunda Payyex sorumlu tutulamaz.</span>
      </li>
      <li class="c1"><span class="c11">Kullan&#305;c&#305;, site ve hizmetleri kullan&#305;rken, </span><span class="c9">para aklama</span><span
              class="c11">, </span><span class="c9">yasa d&#305;&#351;&#305; kumar</span><span class="c11">, </span><span
              class="c9">ter&ouml;rist organizasyonlar&#305;n&#305; destekleme ve siber sald&#305;r&#305;lar</span><span
              class="c0">&nbsp;da d&acirc;hil olmak &uuml;zere hi&ccedil;bir yasa d&#305;&#351;&#305; faaliyette bulunmayaca&#287;&#305;n&#305; taahh&uuml;t eder. &#350;irket, kullan&#305;c&#305;n&#305;n transferleri ile ilgili olarak bu tarz bir faaliyet &#351;&uuml;phesi olu&#351;tu&#287;unda hesab&#305; dondurarak, hesap bakiyesine el koymak ve ilgili mercilere durumu ihbar etmek zorundad&#305;r.</span>
      </li>
      <li class="c1"><span class="c0">S&ouml;zle&#351;medeki hi&ccedil;bir h&uuml;k&uuml;m kullan&#305;c&#305;y&#305; yasal y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getirmekten al&#305;koyacak bir bi&ccedil;imde yorumlanamaz.</span>
      </li>
      <li class="c1"><span class="c11">Kullan&#305;c&#305; sitenin ve hizmetlerin kendisi i&ccedil;in uygun olup olmad&#305;&#287;&#305; konusundaki karar&#305; verme konusunda tek sorumlu ki&#351;idir. </span><span
              class="c11 c12">Hizmetlerin kendisine uygun olmad&#305;&#287;&#305;n&#305; d&uuml;&#351;&uuml;nen kullan&#305;c&#305; siteyi kullanmay&#305; derhal b&#305;rakmal&#305;d&#305;r.</span>
      </li>
      <li class="c1"><span class="c11">Payyex</span><span class="c0">, hizmetlerin s&ouml;zle&#351;mede &ouml;ng&ouml;r&uuml;ld&uuml;&#287;&uuml; gibi sa&#287;lanmas&#305; i&ccedil;in her t&uuml;rl&uuml; &ccedil;abay&#305; sarf edecek ve &ouml;nlemi alacakt&#305;r.</span>
      </li>
      <li class="c1"><span class="c0">Payyex, sundu&#287;u ve sunaca&#287;&#305; hizmetlere ili&#351;kin site &uuml;zerinde yap&#305;lan a&ccedil;&#305;klamalara bak&#305;lmaks&#305;z&#305;n, &uuml;retti&#287;i veya platform &uuml;zerinden edinilmesine olanak verdi&#287;i dijital varl&#305;klar&#305;n ve kripto paralar&#305;n gelecekteki fiyat&#305; hakk&#305;nda hi&ccedil;bir garantide bulunmay&#305;p, site &uuml;zerinde verilen fiyat ve di&#287;er bilgiler kesinlikle bir yat&#305;r&#305;m tavsiyesi olarak yorumlanamaz.</span>
      </li>
      <li class="c1"><span class="c0">S&ouml;zle&#351;meye konu platform &uuml;zerinde yer alan hi&ccedil;bir dijital varl&#305;k veya kripto para, 6493 Sy. &Ouml;DEME VE MENKUL KIYMET MUTABAKAT S&#304;STEMLER&#304;, &Ouml;DEME H&#304;ZMETLER&#304; VE ELEKTRON&#304;K PARA KURULU&#350;LARI HAKKINDA KANUN kapsam&#305;nda say&#305;lan elektronik para tan&#305;m&#305;na uymamaktad&#305;r. Hi&ccedil;bir dijital varl&#305;k veya kripto para elektronik para de&#287;ildir. Bu nedenle, kullan&#305;c&#305; hi&ccedil;bir ko&#351;ul alt&#305;nda &quot;TRY&quot; ya da di&#287;er dijital varl&#305;k veya kripto paralar&#305;n bu kanun kapsam&#305;nda oldu&#287;unu d&uuml;&#351;&uuml;nerek i&#351;lem yapmamal&#305;, siteye &uuml;ye olmamal&#305;d&#305;r.</span>
      </li>
      <li class="c1"><span class="c0">Payyex kullan&#305;c&#305;n&#305;n siteye eri&#351;mek veya hizmetlerden faydalanmak &uuml;zere kulland&#305;&#287;&#305; yaz&#305;l&#305;mlar&#305;n i&#351;leyi&#351;inde basiretli bir tacir s&#305;fat&#305;yla sorumlu olup, bu yaz&#305;l&#305;mlarda ya&#351;anacak herhangi bir sorunu &ccedil;&ouml;zme ya da bu yaz&#305;l&#305;mlarda olu&#351;an aksakl&#305;klardan dolay&#305; ya&#351;anacak kay&#305;plar&#305; engelleme konusunda elinden gelen efor ve gayreti sergilemekle y&uuml;k&uuml;ml&uuml;d&uuml;r. Ancak ya&#351;anmas&#305; muhtemel kay&#305;plar&#305; kar&#351;&#305;lamakla y&uuml;k&uuml;ml&uuml; de&#287;ildir. Kullan&#305;c&#305;, bunu bilmedi&#287;ini ileri s&uuml;rerek haklar&#305;n&#305;n ihlal edildi&#287;ini ileri s&uuml;remeyece&#287;i gibi, platformun ya da yaz&#305;l&#305;m&#305;n hata/eksiklik ya da teknolojik a&ccedil;&#305;klar&#305; nedeniyle ya&#351;ayabilece&#287;i zararlar nedeniyle &quot;Payyex&quot; &#39;i sorumlu tutamaz. </span>
      </li>
      <li class="c1"><span class="c0">&#350;&#304;RKET, UYGULANACAK HUKUKUN &#304;Z&#304;N VERD&#304;&#286;&#304; &Ouml;L&Ccedil;&Uuml;DE, KAR KAYBI, &#350;EREF&#304;YE VE &#304;T&#304;BAR KAYBI, &#304;KAME &Uuml;R&Uuml;N VE H&#304;ZMET TEM&#304;N&#304; &#304;&Ccedil;&#304;N YAPILAN HARCAMA G&#304;B&#304; KALEMLER DE DAH&#304;L ANCAK BUNLARLA SINIRLI OLMAKSIZIN S&#304;TE&rsquo;N&#304;N VE PLATFORM&rsquo;UN KULLANIMI NET&#304;CES&#304;NDE MEYDANA GELEN H&#304;&Ccedil;B&#304;R DO&#286;RUDAN, DOLAYLI &Ouml;ZEL, ARIZ&#304;, CEZA&#304; ZARARDAN SORUMLU OLMAYACAKTIR. BUNA EK OLARAK &#350;&#304;RKET, ZIMN&#304; GARANT&#304;, T&#304;CARETE ELVER&#304;&#350;L&#304;L&#304;K, BELL&#304; B&#304;R AMACA UYGUNLUK DA DAH&#304;L ANCAK BUNLARLA SINIRLI OLMAMAK &Uuml;ZERE, A&Ccedil;IK VEYA ZIMN&#304; H&#304;&Ccedil;B&#304;R T&Uuml;RL&Uuml; GARANT&#304; VERMED&#304;&#286;&#304;N&#304; DE AYRICA BEYAN EDER. &#350;&#304;RKET&rsquo;&#304;N &#304;&#350;BU S&Ouml;ZLE&#350;ME KAPSAMINDA KULLANICI&rsquo;YA KAR&#350;I SORUMLULU&#286;U HER HAL&Uuml;KARDA (B&#304;N) T&Uuml;RK L&#304;RASI &#304;LE SINIRLI OLACAKTIR..</span>
      </li>
      <li class="c1"><span class="c0">Hizmetler ne a&ccedil;&#305;k&ccedil;a ne de ima yoluyla belirtilmi&#351; hi&ccedil;bir garanti veya taahh&uuml;tle sunulmaz. Payyex siteyi kullan&#305;mda tutmak ve hizmetleri sa&#287;lamak i&ccedil;in elinden gelen &ccedil;abay&#305; basiretli bir tacir s&#305;fat&#305;yla sarf edecektir. Ancak internet &uuml;zerinden yap&#305;lan her i&#351; zaman zaman kesintilere ve aksakl&#305;klara u&#287;rayabilmektedir. B&ouml;ylece, Payyex hizmetlerin ve sitenin kullan&#305;m&#305;nda olu&#351;abilecek gecikmelerden, aksakl&#305;klardan, kesintilerden, hatalardan, yanl&#305;&#351; ya da eksik aktar&#305;lan bilgilerden sorumlu de&#287;ildir.</span>
      </li>
      <li class="c1"><span class="c0">Payyex siteyi bak&#305;m nedeniyle &ouml;nceden bildirimde bulunmaks&#305;z&#305;n s&uuml;reli ya da s&uuml;resiz olarak kullan&#305;ma kapatabilir. Bu durumda kullan&#305;c&#305;y&#305; bilgilendirmek i&ccedil;in &ccedil;e&#351;itli sosyal kanallar&#305; kullanacakt&#305;r, ancak acil durumlarda bu m&uuml;mk&uuml;n olmayabilir.</span>
      </li>
      <li class="c1"><span class="c0">Payyex&rsquo;in i&#351; modeli kullan&#305;c&#305;lar aras&#305;nda dijital varl&#305;k ve kripto para al&#305;m sat&#305;m&#305;na arac&#305;l&#305;k yapmak &uuml;zerinedir. Bu dijital varl&#305;k ve kripto paralar tamam&#305;yla reg&uuml;le edilmeyen, global ve deneysel bir yap&#305; ile P2P(Ki&#351;iden Ki&#351;iye) olacak &#351;ekilde tan&#305;ml&#305;d&#305;r. Platform &uuml;zerinde transfer ya da takas edilen dijital varl&#305;klar aksi a&ccedil;&#305;k&ccedil;a belirtilmedik&ccedil;e ancak platform i&ccedil;erisinde bir de&#287;er ifade etmektedir. Payyex, platform &uuml;zerinde tan&#305;ml&#305; di&#287;er dijital varl&#305;k veya kripto paralar&#305;n platform d&#305;&#351;&#305;nda herhangi bir kullan&#305;m&#305; olaca&#287;&#305;n&#305; garanti etmez. Bu sorumluluk k&#305;s&#305;tlamas&#305; ayn&#305; zamanda Payyex&rsquo;i platform &uuml;zerinde tan&#305;ml&#305; dijital varl&#305;k ve kripto paralar&#305;n gelecekte belli bir fiyattan sat&#305;labilir nitelikte olmas&#305;n&#305; sa&#287;lama sorumlulu&#287;undan da azleder. B&ouml;ylece, kullan&#305;c&#305; platform &uuml;zerinde tan&#305;ml&#305; olan dijital varl&#305;k ve kripto paralar&#305;n gelecekte hi&ccedil;bir de&#287;er ifade etmeme ihtimalinin bulundu&#287;unu anlad&#305;&#287;&#305;n&#305;, kabul etti&#287;ini ve bu olas&#305; durumdan do&#287;acak olan zararlardan Payyex&rsquo;i sorumlu tutmayaca&#287;&#305;n&#305; a&ccedil;&#305;k&ccedil;a beyan ve taahh&uuml;t eder.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305; hizmetlerden faydalanmas&#305; sonucunda do&#287;abilecek her t&uuml;rl&uuml; vergi m&uuml;kellefiyetini kendisi &uuml;stlenir. Payyex kullan&#305;c&#305;n&#305;n kendisi i&ccedil;in uygulanabilir olan vergi y&uuml;k&uuml;ml&uuml;l&uuml;klerini yerine getirmemesinden sorumlu de&#287;ildir. Kullan&#305;c&#305;, siteyi kullanarak elde etti&#287;i kar/zarara ili&#351;kin vergisel y&uuml;k&uuml;ml&uuml;l&uuml;klerini tabi oldu&#287;u &uuml;lke kanunlar&#305;na g&ouml;re yerine getirmek zorundad&#305;r.</span>
      </li>
      <li class="c1"><span class="c11">S&ouml;zle&#351;me, T&uuml;rkiye Cumhuriyeti yasalar&#305;na ters d&uuml;&#351;ecek bi&ccedil;imde yorumlanamaz. Sitenin veya hizmetlerin kullan&#305;m&#305;yla veya s&ouml;zle&#351;menin h&uuml;k&uuml;mleriyle ilgili olarak do&#287;acak olan ihtilaflarda T&uuml;rkiye Cumhuriyeti Alanya Mahkemeleri tam yetkili ve g&ouml;revlidir. S&ouml;zle&#351;menin herhangi bir k&#305;sm&#305;n&#305;n h&uuml;k&uuml;ms&uuml;z ya da ge&ccedil;ersiz bulunmas&#305;, s&ouml;zle&#351;menin di&#287;er k&#305;s&#305;mlar&#305;n&#305;n ge&ccedil;erli&#287;ini etkilemez.</span>
      </li>
      <li class="c1"><span class="c16">Hi&ccedil;bir d</span><span class="c0">urumda Payyex, hissedarlar&#305;, direkt&ouml;rleri, &ccedil;al&#305;&#351;anlar&#305;, temsilcileri veya &uuml;&ccedil;&uuml;nc&uuml; taraf olan hizmet sa&#287;lay&#305;c&#305;lar&#305;, kullan&#305;c&#305;n&#305;n ya da ba&#351;ka bir ki&#351;inin u&#287;rayaca&#287;&#305;,</span>
      </li>
    </ol>
    <p class="c14 c20"><span class="c0"></span></p>
    <ol class="c2 lst-kix_z6kr1siuw9hv-2 start" start="1">
      <li class="c15"><span class="c0">sitede verilen bilgilerin yanl&#305;&#351;l&#305;&#287;&#305; ya da eksikli&#287;inden, </span>
      </li>
      <li class="c15"><span class="c0">siteye URL, reklam ya da ba&#351;ka herhangi bir yolla ba&#287;lanm&#305;&#351; olan ya da sitede ismi ge&ccedil;en ve Payyex taraf&#305;ndan i&#351;letilmeyen di&#287;er internet sitelerindeki bilgi eksiklikleri veya yanl&#305;&#351;l&#305;klar&#305;ndan, </span>
      </li>
      <li class="c15"><span class="c0">bu sitelerde sunulabilecek hizmetlerin kullan&#305;m&#305;ndan, </span></li>
      <li class="c15"><span class="c0">sunucular&#305;m&#305;za ya da kullan&#305;c&#305;n&#305;n kulland&#305;&#287;&#305; di&#287;er yaz&#305;l&#305;mlara izinsiz eri&#351;imden, </span>
      </li>
      <li class="c15"><span class="c0">site sunucular&#305;ndaki aksakl&#305;k ve kesintilerden, </span></li>
      <li class="c15"><span class="c0">sitede ya da siteye herhangi bir yolla ba&#287;lanm&#305;&#351; olan veya sitede ismi ge&ccedil;en, Payyex taraf&#305;ndan i&#351;letilmeyen di&#287;er internet sitelerinde bulunabilecek vir&uuml;s, trojan benzeri zararl&#305; yaz&#305;l&#305;mlardan ya da g&uuml;venlik a&ccedil;&#305;klar&#305;ndan, </span>
      </li>
      <li class="c15"><span class="c0">sitenin ve hizmetlerin kullan&#305;m&#305;ndan kaynaklanan, do&#287;rudan ya da dolayl&#305; herhangi bir zarardan, Payyex&rsquo;in bu zarar&#305;n &ouml;nceden &ouml;ng&ouml;r&uuml;p &ouml;ng&ouml;rmedi&#287;ine ve kullan&#305;c&#305;y&#305; bu zarar&#305;n olas&#305;l&#305;&#287;&#305; konusunda uyar&#305;p uyarmad&#305;&#287;&#305;na bak&#305;lmaks&#305;z&#305;n, sorumlu tutulamaz. Buna ek olarak, kullan&#305;c&#305; bilhassa &#351;unu a&ccedil;&#305;kla kabul, beyan ve taahh&uuml;t eder ki; sitenin ya da hizmetlerin kullan&#305;m&#305;yla ilgili olarak herhangi bir yasal i&#351;lem gerektiren bir durumun ortaya &ccedil;&#305;kmas&#305;ndan 1 (bir) sene sonra i&#351;lem ba&#351;lat&#305;lmam&#305;&#351;sa, Payyex&rsquo;in bu duruma konu olan sorumlulu&#287;u ortadan kalkar. Ayr&#305;ca kullan&#305;c&#305; bilhassa kabul, beyan ve taahh&uuml;t eder ki; Payyex&rsquo;in sorumlulu&#287;u hi&ccedil;bir durumda kullan&#305;c&#305; taraf&#305;ndan Payyex&rsquo;e &ouml;denen miktar&#305; a&#351;amaz. Payyex sitenin veya servislerin kullan&#305;m&#305;ndan do&#287;acak sonu&ccedil;larla ilgili olarak her t&uuml;rl&uuml; ticarete elveri&#351;lilik, performans, pazarlanabilirlik, belli bir amaca uygunluk veya belli bir amaca uygunluk garantileri de d&acirc;hil olmak &uuml;zere ister a&ccedil;&#305;k ister &ouml;rt&uuml;l&uuml; olsun hi&ccedil;bir &#351;ekilde garanti vermez. T&uuml;m i&ccedil;erik ve hizmetler kullan&#305;c&#305;lara &quot;oldu&#287;u gibi&quot; sunulmaktad&#305;r.</span>
      </li>
    </ol>
    <ol class="c2 lst-kix_z6kr1siuw9hv-1" start="31">
      <li class="c1"><span class="c0">Payyex, ilgili yaz&#305;l&#305;m ve i&ccedil;erikler &ldquo;OLDU&#286;U G&#304;B&#304;&rdquo; sunulmakta olup, bu kapsamda &#350;irket&rsquo;in bunlar&#305;n do&#287;rulu&#287;u, taml&#305;&#287;&#305; ve g&uuml;venilirli&#287;i ile ilgili herhangi bir sorumluluk ya da taahh&uuml;d&uuml; bulunmamaktad&#305;r. &#350;irket Platform&rsquo;un kullan&#305;m&#305;n&#305;n kesintisiz ve hatas&#305;z oldu&#287;unu taahh&uuml;t etmemektedir. &#350;irket, Platform&rsquo;un 7/24 eri&#351;ilebilir ve kullan&#305;labilir olmas&#305;n&#305; hedeflemekle birlikte Platform&rsquo;a eri&#351;imi sa&#287;layan sistemlerin i&#351;lerli&#287;i ve eri&#351;ilebilirli&#287;ine ili&#351;kin bir garanti vermemektedir. Kullan&#305;c&#305;, Platform&rsquo;a eri&#351;imin muhtelif zamanlarda engellenebilece&#287;ini ya da eri&#351;imin kesilebilece&#287;i kabul eder. &#350;irket, s&ouml;z konusu engelleme veya kesintilerden yahut Platform&rsquo;a &uuml;&ccedil;&uuml;nc&uuml; ki&#351;ilerce yetkisiz eri&#351;imlerden ve Kullan&#305;c&#305;lar&rsquo;&#305;n bunlardan kaynaklanan zarar ve kay&#305;plar&#305;ndan hi&ccedil;bir &#351;ekilde sorumlu de&#287;ildir.</span>
      </li>
      <li class="c1"><span class="c0">Payyex, s&ouml;zle&#351;menin h&uuml;k&uuml;mlerinin tamam&#305;n&#305; ya da bir k&#305;sm&#305;n&#305; &ouml;nceden bir ihbara gerek kalmaks&#305;z&#305;n de&#287;i&#351;tirme ve g&uuml;ncelleme hakk&#305;n&#305; elinde tutar, ancak s&ouml;zle&#351;menin en son ne zaman g&uuml;ncellendi&#287;i, s&ouml;zle&#351;menin ba&#351;&#305;nda belirtilecektir. Kullan&#305;c&#305; siteye eri&#351;ti&#287;i ve hizmetlerden faydaland&#305;&#287;&#305; s&uuml;re boyunca s&ouml;zle&#351;medeki de&#287;i&#351;iklikleri takip etmekle y&uuml;k&uuml;ml&uuml;d&uuml;r. S&ouml;zle&#351;me, s&ouml;zle&#351;menin ba&#351;&#305;nda belirtilen tarihte y&uuml;r&uuml;rl&uuml;&#287;e girer.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305; kendisine ait olan bir telif hakk&#305;n&#305;n site i&ccedil;eri&#287;iyle ihlal edildi&#287;ini d&uuml;&#351;&uuml;n&uuml;yorsa, Payyex&rsquo;e durumu e-mail yoluyla bildirebilir.</span>
      </li>
      <li class="c1"><span class="c0">Hizmetlerden faydalan&#305;rken kullan&#305;lan yaz&#305;l&#305;mlar ve site i&ccedil;eri&#287;i, Payyex taraf&#305;ndan i&#351;letilmeyen yaz&#305;l&#305;mlara ve/veya internet sitelerine ba&#287;lant&#305;lar i&ccedil;erebilir. Bu yaz&#305;l&#305;m ve sitelerin i&ccedil;eri&#287;inden, politikalar&#305;ndan, ve bu yaz&#305;l&#305;m ve sitelerin kullan&#305;m&#305;ndan do&#287;acak zararlardan Payyex sorumlu tutulamaz.</span>
      </li>
      <li class="c1"><span class="c0">Payyex sundu&#287;u hizmetlerle ilgili olarak hi&ccedil;bir yat&#305;r&#305;m tavsiyesinde bulunmaz. Site &uuml;zerinde ve hizmetlerden faydalan&#305;rken kullan&#305;lan yaz&#305;l&#305;mlarda baz&#305; &uuml;r&uuml;n, hizmet ya da kripto paralara ili&#351;kin fiyat ve benzeri detaylar verilebilir, ancak bu bilgiler kesinlikle yat&#305;r&#305;m tavsiyesi olarak yorumlanamaz. Payyex platformu &uuml;zerindeki her t&uuml;rl&uuml; dijital varl&#305;k ve kripto paran&#305;n al&#305;m-sat&#305;m&#305; kullan&#305;c&#305;n&#305;n kendi tercihidir, ve Payyex bu i&#351;lemlerden do&#287;acak hi&ccedil;bir zarardan sorumlu tutulamaz. </span>
      </li>
      <li class="c1"><span class="c0">Payyex platformu &uuml;zerinde kar&#351;&#305;la&#351;&#305;lan ve kullan&#305;c&#305;lar&#305;n online c&uuml;zdanlar&#305;nda tutabilece&#287;i dijital varl&#305;k ve kripto paralar &ouml;nemli derecede risk i&ccedil;ermektedir. Fiyatlar her an beklenmedik &ouml;l&ccedil;&uuml;de de&#287;i&#351;iklik g&ouml;sterebilir, hatta c&uuml;zdanda tutulan &uuml;r&uuml;n ve kripto paralar tamamen de&#287;ersiz hale gelebilir. Payyex platformunda yap&#305;lacak her t&uuml;rl&uuml; i&#351;lemle ilgili olarak her zaman i&ccedil;in bir risk fakt&ouml;r&uuml;n&uuml;n bulundu&#287;u kullan&#305;c&#305; taraf&#305;ndan kabul edilir. Ayn&#305; zamanda burada bahsedilmeyen ve site i&#351;leticilerinin bilmedi&#287;i ba&#351;ka risklerin bulunmas&#305; da m&uuml;mk&uuml;nd&uuml;r. Kullan&#305;c&#305; bu risklerle ilgili olarak Payyex&rsquo;in hi&ccedil;bir sorumlulu&#287;u olmad&#305;&#287;&#305;n&#305; kabul eder.</span>
      </li>
      <li class="c1"><span class="c0">Hizmetlerden faydalanan kullan&#305;c&#305;lardan n&uuml;fus c&uuml;zdan&#305; &ouml;rneklerinin, pasaportlar&#305;n&#305;n, ikametgah belgelerinin ve gerekli g&ouml;r&uuml;l&uuml;rse ba&#351;ka belgelerin de onayl&#305; &ouml;rnekleri istenebilir. Bu belgeler Payyex taraf&#305;ndan &#351;ifreli olarak muhafaza edilecektir. Payyex ayr&#305;ca gerek g&ouml;r&uuml;rse kredi referans ajanslar&#305;, yolsuzlukla m&uuml;cadele birimleri, bankalar ve di&#287;er finansal kurulu&#351;lar gibi, bilgilerinizi elinde bulunduran kurulu&#351;lardan sizin hakk&#305;n&#305;zda bilgi talebinde bulunabilir ve bilgilerinizi devlet kurumu olmas&#305; &#351;art&#305;yla bu ve benzeri devlet kurumlar&#305; ile payla&#351;abilir. Bu bilgiler kimlik ve adres bilgilerinizi i&ccedil;erebilir. Payyex, gerekli g&ouml;rd&uuml;&#287;&uuml; durumlarda kullan&#305;c&#305;dan ekstra bilgi talebinde bulunabilecek ve talebi ger&ccedil;ekle&#351;mezse kullan&#305;c&#305;n&#305;n haklar&#305;n&#305; ask&#305;ya alabilecektir.</span>
      </li>
      <li class="c1"><span class="c0">Kullan&#305;c&#305;ya ait ve internet gibi bir ortamda herkese a&ccedil;&#305;k bir bi&ccedil;imde payla&#351;&#305;lmam&#305;&#351; olan bilgiler taraf&#305;m&#305;zca mahremiyet kurallar&#305;na uygun bir bi&ccedil;imde saklanacak ve hizmetlerimizi geli&#351;tirmek; kullan&#305;c&#305; ihtiya&ccedil;lar&#305;n&#305; g&ouml;zden ge&ccedil;irmek; kullan&#305;c&#305;y&#305; olu&#351;abilecek f&#305;rsatlardan haberdar etmek; ara&#351;t&#305;rma, istatistik ve pazarlama alanlar&#305;nda kullanmak ve Payyex &uuml;zerinde ge&ccedil;erli olan yasalar&#305;n &ouml;ng&ouml;rd&uuml;&#287;&uuml; y&uuml;k&uuml;ml&uuml;l&uuml;kleri yerine getirmek ama&ccedil;lar&#305; haricinde kullan&#305;lmayacakt&#305;r. Ge&ccedil;erli bir mahkeme karar&#305;n&#305;n h&uuml;km&uuml;nce Payyex&rsquo;den resmi yollardan talep edildi&#287;inde kullan&#305;c&#305; bilgilerinin ilgili makamlarla payla&#351;&#305;l&#305;p payla&#351;&#305;lmayaca&#287;&#305; konusunda son kara yetkisi Payyex&rsquo;e aittir.</span>
      </li>
      <li class="c1"><span class="c0">Payyex, hizmetleri kendi elinde bulunmayan nedenlerden &ouml;t&uuml;r&uuml; ger&ccedil;ekle&#351;tiremezse, bu nedenlerin etki s&uuml;resi boyunca kullan&#305;c&#305;lara hizmetlerin sunulmamas&#305;ndan dolay&#305; sorumlu tutulmayacakt&#305;r.</span>
      </li>
      <li class="c1"><span class="c0">M&uuml;cbir sebep say&#305;lan t&uuml;m durumlarda, Payyex i&#351; bu S&ouml;zle&#351;me ile belirlenen edimlerinden herhangi birini ge&ccedil; veya eksik ifa etme veya ifa etmeme nedeniyle sorumlu tutulamaz. M&uuml;cbir sebep; do&#287;al afet, isyan, sava&#351;, grev, lokavt, telekom&uuml;nikasyon altyap&#305;s&#305;ndan kaynaklanan ar&#305;zalar, elektrik kesintisi ve k&ouml;t&uuml; hava ko&#351;ullar&#305; da dahil ve fakat bunlarla s&#305;n&#305;rl&#305; olmamak kayd&#305;yla ilgili taraf&#305;n makul kontrol&uuml; haricinde ger&ccedil;ekle&#351;en olaylar olarak yorumlanacakt&#305;r. M&uuml;cbir sebep s&uuml;resince Taraflar&rsquo;&#305;n edimleri ask&#305;ya al&#305;n&#305;r. M&uuml;cbir sebebin 1 (bir) aydan uzun s&uuml;rmesi halinde i&#351;bu S&ouml;zle&#351;me haklar&#305; ifa edilemeyen Taraf&ccedil;a feshedilebilecektir.</span>
      </li>
      <li class="c1"><span class="c0">&#304;&#351; bu s&ouml;zle&#351;me h&uuml;k&uuml;mleri 15.08.2017 tarihi itibar&#305;yla g&uuml;ncellenmi&#351;tir.</span>
      </li>
    </ol>
    <p class="c14 c18"><span class="c4"></span></p>
  </div>
</div>