li:before {
  content: "" counter(lst-ctn-kix_z6kr1siuw9hv-0, decimal) ". "
}

ol.lst-kix_xdmmqdg8qs4w-6.start {
  counter-reset: lst-ctn-kix_xdmmqdg8qs4w-6 0
}

.lst-kix_z6kr1siuw9hv-1 > li:before {
  content: "" counter(lst-ctn-kix_z6kr1siuw9hv-0, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-1, decimal) ". "
}

.lst-kix_xdmmqdg8qs4w-1 > li {
  counter-increment: lst-ctn-kix_xdmmqdg8qs4w-1
}

.lst-kix_z6kr1siuw9hv-2 > li:before {
  content: "" counter(lst-ctn-kix_z6kr1siuw9hv-0, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-1, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-2, decimal) ". "
}

.lst-kix_z6kr1siuw9hv-4 > li:before {
  content: "" counter(lst-ctn-kix_z6kr1siuw9hv-0, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-1, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-2, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-3, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-4, decimal) ". "
}

ol.lst-kix_z6kr1siuw9hv-6.start {
  counter-reset: lst-ctn-kix_z6kr1siuw9hv-6 0
}

.lst-kix_z6kr1siuw9hv-3 > li:before {
  content: "" counter(lst-ctn-kix_z6kr1siuw9hv-0, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-1, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-2, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-3, decimal) ". "
}

ol.lst-kix_z6kr1siuw9hv-2.start {
  counter-reset: lst-ctn-kix_z6kr1siuw9hv-2 0
}

.lst-kix_z6kr1siuw9hv-7 > li {
  counter-increment: lst-ctn-kix_z6kr1siuw9hv-7
}

.lst-kix_z6kr1siuw9hv-1 > li {
  counter-increment: lst-ctn-kix_z6kr1siuw9hv-1
}

.lst-kix_xdmmqdg8qs4w-0 > li:before {
  content: "" counter(lst-ctn-kix_xdmmqdg8qs4w-0, decimal) ". "
}

.lst-kix_xdmmqdg8qs4w-7 > li {
  counter-increment: lst-ctn-kix_xdmmqdg8qs4w-7
}

ol.lst-kix_xdmmqdg8qs4w-3.start {
  counter-reset: lst-ctn-kix_xdmmqdg8qs4w-3 0
}

ol.lst-kix_z6kr1siuw9hv-5.start {
  counter-reset: lst-ctn-kix_z6kr1siuw9hv-5 0
}

.lst-kix_xdmmqdg8qs4w-5 > li {
  counter-increment: lst-ctn-kix_xdmmqdg8qs4w-5
}

ol.lst-kix_z6kr1siuw9hv-1 {
  list-style-type: none
}

ol.lst-kix_xdmmqdg8qs4w-0.start {
  counter-reset: lst-ctn-kix_xdmmqdg8qs4w-0 0
}

.lst-kix_xdmmqdg8qs4w-8 > li {
  counter-increment: lst-ctn-kix_xdmmqdg8qs4w-8
}

ol.lst-kix_z6kr1siuw9hv-0 {
  list-style-type: none
}

ol.lst-kix_z6kr1siuw9hv-3 {
  list-style-type: none
}

ol.lst-kix_z6kr1siuw9hv-2 {
  list-style-type: none
}

ol.lst-kix_z6kr1siuw9hv-5 {
  list-style-type: none
}

ol.lst-kix_z6kr1siuw9hv-4 {
  list-style-type: none
}

.lst-kix_z6kr1siuw9hv-6 > li:before {
  content: "" counter(lst-ctn-kix_z6kr1siuw9hv-0, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-1, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-2, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-3, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-4, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-5, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-6, decimal) ". "
}

.lst-kix_z6kr1siuw9hv-8 > li:before {
  content: "" counter(lst-ctn-kix_z6kr1siuw9hv-0, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-1, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-2, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-3, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-4, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-5, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-6, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-7, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-8, decimal) ". "
}

ol.lst-kix_z6kr1siuw9hv-8.start {
  counter-reset: lst-ctn-kix_z6kr1siuw9hv-8 0
}

.lst-kix_z6kr1siuw9hv-0 > li {
  counter-increment: lst-ctn-kix_z6kr1siuw9hv-0
}

.lst-kix_z6kr1siuw9hv-5 > li:before {
  content: "" counter(lst-ctn-kix_z6kr1siuw9hv-0, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-1, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-2, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-3, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-4, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-5, decimal) ". "
}

ol.lst-kix_xdmmqdg8qs4w-7.start {
  counter-reset: lst-ctn-kix_xdmmqdg8qs4w-7 0
}

.lst-kix_z6kr1siuw9hv-3 > li {
  counter-increment: lst-ctn-kix_z6kr1siuw9hv-3
}

.lst-kix_xdmmqdg8qs4w-2 > li {
  counter-increment: lst-ctn-kix_xdmmqdg8qs4w-2
}

.lst-kix_z6kr1siuw9hv-6 > li {
  counter-increment: lst-ctn-kix_z6kr1siuw9hv-6
}

.lst-kix_z6kr1siuw9hv-7 > li:before {
  content: "" counter(lst-ctn-kix_z6kr1siuw9hv-0, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-1, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-2, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-3, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-4, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-5, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-6, decimal) "." counter(lst-ctn-kix_z6kr1siuw9hv-7, decimal) ". "
}

.lst-kix_xdmmqdg8qs4w-4 > li {
  counter-increment: lst-ctn-kix_xdmmqdg8qs4w-4
}

ol.lst-kix_xdmmqdg8qs4w-4.start {
  counter-reset: lst-ctn-kix_xdmmqdg8qs4w-4 0
}

ol.lst-kix_xdmmqdg8qs4w-1.start {
  counter-reset: lst-ctn-kix_xdmmqdg8qs4w-1 0
}

ol.lst-kix_z6kr1siuw9hv-7 {
  list-style-type: none
}

ol.lst-kix_xdmmqdg8qs4w-8.start {
  counter-reset: lst-ctn-kix_xdmmqdg8qs4w-8 0
}

ol.lst-kix_z6kr1siuw9hv-6 {
  list-style-type: none
}

ol.lst-kix_z6kr1siuw9hv-8 {
  list-style-type: none
}

ol.lst-kix_z6kr1siuw9hv-1.start {
  counter-reset: lst-ctn-kix_z6kr1siuw9hv-1 0
}

.lst-kix_z6kr1siuw9hv-4 > li {
  counter-increment: lst-ctn-kix_z6kr1siuw9hv-4
}

ol.lst-kix_z6kr1siuw9hv-4.start {
  counter-reset: lst-ctn-kix_z6kr1siuw9hv-4 0
}

.lst-kix_xdmmqdg8qs4w-3 > li:before {
  content: "" counter(lst-ctn-kix_xdmmqdg8qs4w-3, decimal) ". "
}

ol.lst-kix_xdmmqdg8qs4w-5.start {
  counter-reset: lst-ctn-kix_xdmmqdg8qs4w-5 0
}

.lst-kix_xdmmqdg8qs4w-2 > li:before {
  content: "" counter(lst-ctn-kix_xdmmqdg8qs4w-2, lower-roman) ". "
}

.lst-kix_xdmmqdg8qs4w-4 > li:before {
  content: "" counter(lst-ctn-kix_xdmmqdg8qs4w-4, lower-latin) ". "
}

.lst-kix_z6kr1siuw9hv-5 > li {
  counter-increment: lst-ctn-kix_z6kr1siuw9hv-5
}

.lst-kix_xdmmqdg8qs4w-1 > li:before {
  content: "" counter(lst-ctn-kix_xdmmqdg8qs4w-1, lower-latin) ". "
}

.lst-kix_xdmmqdg8qs4w-5 > li:before {
  content: "" counter(lst-ctn-kix_xdmmqdg8qs4w-5, lower-roman) ". "
}

.lst-kix_z6kr1siuw9hv-8 > li {
  counter-increment: lst-ctn-kix_z6kr1siuw9hv-8
}

ol.lst-kix_z6kr1siuw9hv-7.start {
  counter-reset: lst-ctn-kix_z6kr1siuw9hv-7 0
}

ol.lst-kix_xdmmqdg8qs4w-0 {
  list-style-type: none
}

.lst-kix_xdmmqdg8qs4w-0 > li {
  counter-increment: lst-ctn-kix_xdmmqdg8qs4w-0
}

ol.lst-kix_xdmmqdg8qs4w-1 {
  list-style-type: none
}

.lst-kix_xdmmqdg8qs4w-3 > li {
  counter-increment: lst-ctn-kix_xdmmqdg8qs4w-3
}

.lst-kix_z6kr1siuw9hv-2 > li {
  counter-increment: lst-ctn-kix_z6kr1siuw9hv-2
}

ol.lst-kix_xdmmqdg8qs4w-2.start {
  counter-reset: lst-ctn-kix_xdmmqdg8qs4w-2 0
}

ol.lst-kix_xdmmqdg8qs4w-6 {
  list-style-type: none
}

ol.lst-kix_xdmmqdg8qs4w-7 {
  list-style-type: none
}

.lst-kix_xdmmqdg8qs4w-6 > li {
  counter-increment: lst-ctn-kix_xdmmqdg8qs4w-6
}

ol.lst-kix_xdmmqdg8qs4w-8 {
  list-style-type: none
}

ol.lst-kix_xdmmqdg8qs4w-2 {
  list-style-type: none
}

ol.lst-kix_xdmmqdg8qs4w-3 {
  list-style-type: none
}

ol.lst-kix_xdmmqdg8qs4w-4 {
  list-style-type: none
}

ol.lst-kix_z6kr1siuw9hv-3.start {
  counter-reset: lst-ctn-kix_z6kr1siuw9hv-3 0
}

ol.lst-kix_xdmmqdg8qs4w-5 {
  list-style-type: none
}

.lst-kix_xdmmqdg8qs4w-7 > li:before {
  content: "" counter(lst-ctn-kix_xdmmqdg8qs4w-7, lower-latin) ". "
}

.lst-kix_xdmmqdg8qs4w-6 > li:before {
  content: "" counter(lst-ctn-kix_xdmmqdg8qs4w-6, decimal) ". "
}

.lst-kix_xdmmqdg8qs4w-8 > li:before {
  content: "" counter(lst-ctn-kix_xdmmqdg8qs4w-8, lower-roman) ". "
}

ol.lst-kix_z6kr1siuw9hv-0.start {
  counter-reset: lst-ctn-kix_z6kr1siuw9hv-0 0
}

ol {
  margin: 0;
  padding: 0
}

table td, table th {
  padding: 0
}

.c3 {
  
  -webkit-text-decoration-skip: none;
  color: #373a3c;
  font-weight: 700;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal
}

.c7 {
  margin-left: 36pt;
  padding-top: 0pt;
  text-indent: 36pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 10pt
}

.c8 {
  margin-left: 36pt;
  padding-top: 0pt;
  text-indent: 36pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c0 {
  
  color: #373a3c;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal
}

.c4 {
  
  color: #7a7a7a;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal
}

.c5 {
  margin-left: 36pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c1 {
  margin-left: 72pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c6 {
  
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal
}

.c15 {
  margin-left: 108pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c14 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify;
  height: 10pt
}

.c22 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.c17 {
  
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: italic
}

.c13 {
  
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c21 {
  padding-top: 24pt;
  padding-bottom: 6pt;
  line-height: 1.1;
  text-align: justify
}

.c23 {
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal
}

.c9 {
  font-size: 12pt;
  color: #373a3c;
  font-weight: 700
}

.c19 {
  
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt
}

.c12 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline
}

.c10 {
  
  font-size: 12pt;
  color: #000000
}

.c24 {
  
  font-size: 12pt;
  color: #333333
}

.c18 {
  margin-left: 72pt;
  text-indent: -18pt
}

.c11 {
  color: #373a3c;
  font-size: 12pt
}

.c2 {
  padding: 0;
  margin: 0
}

.c16 {
  color: #000000;
  font-size: 12pt
}

.c20 {
  margin-left: 36pt
}

.title {
  
  padding-top: 0pt;
  color: #7a7a7a;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify
}

.subtitle {
  
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify
}

li {
  
  color: #7a7a7a;
  font-size: 10.5pt;
  font-family: "Arial"
}

p {
  
  margin: 0;
  color: #7a7a7a;
  font-size: 10.5pt;
  font-family: "Arial"
}

h1 {
  
  padding-top: 20pt;
  color: #7a7a7a;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify
}

h2 {
  
  padding-top: 18pt;
  color: #7a7a7a;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify
}

h3 {
  
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify
}

h4 {
  
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify
}

h5 {
  
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: justify
}

h6 {
  
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: justify
}
li {
  &:before {
    color: #000;
  }
}