<div class="page-content">
  <div class="inside-header">
    <a class="logo" routerLink="/home" draggable="false">
      <img src="assets/images/logo-violet.svg" alt="logo payyex" draggable="false">
      <div class="title" translate>Your Cryptocurrency Portal</div>
    </a>
  </div>
  <a draggable="false" [routerLink]="['/']" class="move-back">
    <img src="assets/images/arrow-up.svg" alt="arrow up" draggable="false">
  </a>
  <h1 class="title black">Support</h1>
  <custom-tabs (opened)="checkIfActivate($event)">
    <h3 class="list-title" [class.hidden]="linkBack || faqOpened">Popular Questions</h3>
    <h3 class="list-title link" [class.hidden]="!linkBack && !faqOpened" (click)="backToMain()">
      <span class="image"></span>
      <span>Back to full list</span>
    </h3>
    <input [(ngModel)]="searchText" class="question-search" type="text" placeholder="Search Question">
    <div class="tabs-wrapper" [class.hidden]="faqOpened || notFound">
      <custom-tab
              *ngFor="let item of faqList | filter: searchText"
              [tabTitle]="item.question">
        <span class="question">{{ item.question }}</span>
        <p class="answer" [innerHTML]="item.answer"></p>
        <div class="buttons">
          <a class="likes">
            <span class="image"></span>
            <span class="number">
                {{ item.likes }}
              </span>
          </a>
          <a draggable="false" class="open" (click)="openFaq(item.id)">
            <div class="image"></div>
          </a>
        </div>
      </custom-tab>
    </div>
    <div class="faq-opened-block" [class.hidden]="!faqOpened || notFound">
      <a draggable="false" class="back" (click)="closeFaq()">
        <div class="image"></div>
        <span class="text">Back to previous page</span>
      </a>
      <div class="faq-opened" *ngFor="let item of faqList; let index = index;" [class.hidden]="faqShowId !== index">
        <span class="question">{{ item.question }}</span>
        <p class="answer" [innerHTML]="item.answer"></p>
        <div class="buttons">
          <a class="likes">
            <span class="image"></span>
            <span class="number">
                {{ item.likes }}
              </span>
          </a>
        </div>
      </div>
    </div>
    <div class="not-found" [class.hidden]="!notFound">
      <div class="text">Sorry, but we couldn’t find your request</div>
      <a draggable="false" class="back" (click)="backToMain()">
        <div class="image"></div>
        <span class="text">Back to previous page</span>
      </a>
    </div>
  </custom-tabs>
  <div class="why-payyex mb-50 mb-md-25">
    <h1 class="title black" translate>Why Payyex?</h1>
    <div class="why-content">
      <div class="answers">
        <div class="block first">
          <h2 class="subtitle-bold black" translate>Payyex supports</h2>
          <p>{{ "why-payyex-first" | translate }}</p>
        </div>
        <div class="block second">
          <h2 class="subtitle-bold black" translate>The platform's</h2>
          <p>{{ "why-payyex-second" | translate }}</p>
        </div>
        <div class="block third">
          <h2 class="subtitle-bold black" translate>Turkish lira</h2>
          <p>{{ "why-payyex-third" | translate }}</p>
        </div>
        <div class="buttons">
          <a draggable="false" class="btn btn_big waves-effect" translate>Sign Up Now</a>
          <a draggable="false" class="btn additional" translate>Frequently Asked Questions</a>
        </div>
      </div>
      <div class="subscribe">
        <div class="subscribe-title" translate>
          Stay tuned!
        </div>
        <app-subscribe></app-subscribe>
      </div>
    </div>
  </div>
</div>
