router-outlet {
  &::ng-deep {
    ~ * {
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
.inside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 100px;
  background: #f6f8f9;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  .logo {
    margin-top: 0;
    .title {
      padding-left: 50px;
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 35px 20px;
  }
}
.move-back {
  position: absolute;
  width: 32px;
  left: 100px;
  top: 120px;
  opacity: .3;
  margin-top: 0 !important;
  &:hover {
    opacity: 1;
  }
}
.logo {
  @media screen and (max-width: 767px) {
    margin: auto;
    margin-top: 10px;
  }
  img {
    width: 215px;
  }
  .title {
    color: #6b7e9e;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
  }
}
.page-content {
  padding: 80px 100px 90px;
  overflow: auto;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #f6f8f9;
  @media screen and (max-width: 767px) {
    padding: 100px 20px 250px;
    text-align: left;
  }
  &::ng-deep {
    .content {
      width: 55%;
      margin: auto;
      @media screen and (max-width: 1199px) {
        width: 80%;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .title {
      font-size: 46px;
      color: #4a4a49;
      line-height: 70px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-weight: 700;
      &.black {
        color: #4a4a49;
        background-color: transparent !important;
      }
      @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 50px;
        font-weight: 700;
        margin-top: 40px;
      }
    }
    .subtitle {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 400;
      @media screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 46px;
        font-weight: 400;
        margin-top: 40px;
      }
    }
    .subtitle-bold {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 600;
      &.black {
        background-color: transparent !important;
        color: #4a4a49;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      line-height: 28px;
      color: #495974;
      text-indent: 35px;
    }
    a {
      margin-top: 60px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .exchange-blocks {
      margin: 50px 0;
      .block {
        margin: 80px 0;
        display: flex;
        align-content: center;
        flex-direction: row;
        @media screen and (max-width: 767px) {
          flex-direction: column;
          .image {
            width: 100% !important;
            padding-right: 0 !important;
          }
          .text {
            width: 100% !important;
            padding-left: 0 !important;
          }
        }
        .image {
          width: calc(50% - 25px);
          padding-right: 25px;
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: calc(50% - 25px);
          padding-left: 25px;
          text-align: left;
          p {
            text-indent: 0;
          }
        }
      }
    }
    .why-payyex {
      position: relative;
      &:before {
        content: '';
        width: 300px;
        height: 400px;
        background: url('/../../assets/images/modal-bg.png') no-repeat 50% 50%;
        background-size: contain;
        position: absolute;
        z-index: -1;
        left: 0;
        @media screen and (max-width: 767px) {
          width: 930px;
          height: 470px;
          left: -20px;
        }
      }
      .why-content {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
      }
      .answers {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 50px;
        @media screen and (max-width: 1199px) {
          padding-right: 0;
          width: 100%;
          margin-bottom: 70px;
        }
        .block {
          text-align: left;
          padding: 0 15px;
          &.first {
            padding-left: 0;
          }
          &.third {
            padding-right: 0;
          }
          .subtitle-bold {
            margin-bottom: 15px;
          }
          p {
            text-indent: 0;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          left: 0;
          bottom: 100px;
          a {
            &.additional {
              margin-left: 40px;
            }
          }
          @media screen and (max-width: 767px) {
            flex-direction: column;
            .btn {
              width: 100%;
              display: block;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
              &.additional {
                margin-top: 10px;
              }
            }
          }
        }
      }
      .subscribe {
        width: 50%;
        padding-right: 0;
        padding-left: 150px;
        @media screen and (max-width: 1399px) {
          padding-left: 60px;
        }
        @media screen and (max-width: 1199px) {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
        .subscribe-title {
          color: #495974;
          font-size: 16px;
          line-height: 28px;
          font-weight: 700;
          text-align: left;
          margin-bottom: 30px;
          @media screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 28px;
          }
        }
        app-subscribe {
          /deep/ {
            form {
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;
              @media screen and (max-width: 767px) {
                flex-direction: column;
              }
              &.ng-valid {
                h2 {
                  font-size: 23px;
                }
              }
              & > .row {
                margin-left: 0;
                width: 50%;
                @media screen and (max-width: 1199px) {
                  width: calc(100% - 270px);
                }
                @media screen and (max-width: 767px) {
                  width: 100%;
                }
                input {
                  margin-bottom: 0;
                }
              }
              .btn {
                &.btn_big {
                  margin-left: 0;
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
    .tabs-wrapper {
      display: flex;
      flex-direction: row;
      width: calc(51% + 30px);
      flex-wrap: wrap;
      margin-right: -8px;
      margin-left: -8px;
      &.hidden {
        display: none;
      }
    }
    .faq-opened-block {
      display: flex;
      flex-direction: row;
      width: calc(51% + 0px);
      flex-wrap: wrap;
      margin-right: 0;
      margin-left: 0;
      position: relative;
      padding-top: 100px;
      &.hidden {
        display: none;
      }
      & > .back {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: initial;
        height: 70px;
        line-height: 70px;
        margin-top: 0;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        .image {
          display: block;
          width: 34px;
          height: 30px;
          background-image: url('../../assets/images/arrow-up.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50%;
          -webkit-transition: .2s ease-in;
          transition: .2s ease-in;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          margin-right: 10px;
        }
        .text {
          color: #495974;
          font-size: 16px;
          font-weight: 600;
          text-align: left;
        }
      }
      .faq-opened {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 3px;
        border: 0;
        box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06);
        width: 100%;
        -webkit-box-flex: 1;
        flex: 0 0 1;
        margin: 0;
        height: auto;
        &.hidden {
          display: none !important;
        }
        .title {
          font-size: 18px;
          line-height: 110%;
          font-weight: 600;
          color: #4a4a49;
          margin-top: 0;
          margin-bottom: 20px;
        }
        .question {
          font-size: 20px;
          line-height: 60px;
          padding-left: 25px;
          padding-right: 25px;
          font-weight: 600;
          color: #fff;
          margin-top: 0;
          margin-bottom: 0;
          background-color: #4b88e5;
          border-radius: 3px 3px 0 0;
          display: block;
          -webkit-transition: .2s ease-in;
          transition: .2s ease-in;
          height: 60px;
          text-align: left;
        }
        .answer {
          color: #4a4a49;
          line-height: 30px;
          padding-left: 25px;
          padding-right: 25px;
          padding-top: 25px;
          height: auto;
          text-align: left;
          margin-bottom: 15px;
        }
        p {
          line-height: 30px;
          text-indent: 0;
          margin-bottom: 0;
          -webkit-transition: .2s ease-in;
          transition: .2s ease-in;
        }
        ul {
          padding-left: 20px;
          & > li {
            list-style-type: disc;
          }
        }
        .buttons {
          display: flex;
          justify-content: space-between;
          position: relative;
          z-index: 1;
          bottom: 0;
          left: 0;
          right: 0;
          margin: auto;
          width: calc(100% - 50px);
          .likes {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            cursor: pointer;
            margin-top: 0;
            padding-bottom: 20px;
            &:hover {
              .image {
                background-image: url('../../assets/images/heart-icon-filled-blue.svg');
              }
            }
            .image {
              display: block;
              width: 16px;
              height: 14px;
              background-image: url('../../assets/images/heart-icon-empty-blue.svg');
              background-repeat: no-repeat;
              background-size: contain;
              background-position: 50%;
              -webkit-transition: .2s ease-in;
              transition: .2s ease-in;
            }
            .number {
              margin-left: 10px;
              color: #495974;
              -webkit-transition: .2s ease-in;
              transition: .2s ease-in;
            }
          }
          .open {
            display: block;
            width: 34px;
            height: 28px;
            margin-top: 30px;
            cursor: pointer;
            .image {
              display: block;
              width: 100%;
              height: 100%;
              background-image: url('../../assets/images/arrow-up.svg');
              background-repeat: no-repeat;
              background-size: contain;
              background-position: 50%;
              -webkit-transition: .2s ease-in;
              transition: .2s ease-in;
              -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
            }
          }
        }
      }
    }
    .not-found {
      display: flex;
      flex-direction: row;
      width: calc(51% + 0px);
      flex-wrap: wrap;
      margin-right: 0;
      margin-left: 0;
      position: relative;
      padding-top: 15px;
      min-height: 300px;
      & > .back {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: initial;
        height: 70px;
        line-height: 70px;
        margin-top: 0;
        cursor: pointer;
        position: absolute;
        top: 80px;
        left: 0;
        .image {
          display: block;
          width: 34px;
          height: 30px;
          background-image: url('../../assets/images/arrow-up.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50%;
          -webkit-transition: .2s ease-in;
          transition: .2s ease-in;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          margin-right: 10px;
        }
        .text {
          color: #495974;
          font-size: 16px;
          font-weight: 600;
          text-align: left;
        }
      }
      &.hidden {
        display: none;
      }
      .text {
        font-size: 26px;
        line-height: 45px;
        font-weight: 200;
        color: #495974;
      }
    }
    custom-tabs {
      padding: 10px 10px;
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 30px;
      min-height: initial;
      padding-left: 0;
      padding-right: 0;
      padding-top: 95px;
      .list-title {
        position: absolute;
        z-index: 10;
        top: -70px;
        left: 0;
        font-size: 20px;
        color: #4a4a49;
        font-weight: 200;
        line-height: 70px;
        width: 23%;
        margin: 0;
        text-align: left;
        padding-left: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        &.hidden {
          display: none;
        }
        &.link {
          cursor: pointer;
        }
        .image {
          display: block;
          width: 34px;
          height: 30px;
          background-image: url('../../assets/images/arrow-up.svg');
          background-repeat: no-repeat;
          background-size: contain;
          background-position: 50%;
          -webkit-transition: .2s ease-in;
          transition: .2s ease-in;
          -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
          margin-right: 10px;
        }
      }
      .tabs__tab-bar {
        display: flex;
        flex-direction: column;
        align-self: initial;
        border: 0;
        top: -95px;
        //box-shadow: 0 10px 20px 0 rgba(36, 50, 66, 0.06);
        //width: 250px;
        width: 23%;
        margin-right: 7%;
        position: relative;
        overflow: visible;
        &:before {
          content: '';
          position: absolute;
          box-shadow: 10px 0 20px 0 rgba(36, 50, 66, 0.06);
          width: 15px;
          height: 100%;
          right: 0;
          top: 0;
          bottom: 0;
        }
        li {
          background-color: transparent !important;
          text-align: left;
          transition: .2s ease-in;
          color: #4a4a49;
          font-weight: 600;
          font-size: 16px;
          padding: 10px 15px;
          position: relative;
          margin-bottom: 5px;
          cursor: pointer;
          &:hover {
            color: #4b88e5;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 5px;
            height: 100%;
            background: url('../../assets/images/tab-active.svg') 50% 50% no-repeat;
            transition: .2s ease-in;
            opacity: 0;
          }
          &.active {
            color: #4b88e5;
            background-color: transparent !important;
            &:before {
              opacity: 1;
            }
          }
        }
      }
      custom-tab {
        display: flex;
        background-color: #fff;
        border-radius: 3px;
        border: 0;
        box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06);
        width: calc(50% - 24px);
        -webkit-box-flex: 1;
        flex: 0 0 calc(50% - 24px);
        margin: 0 8px 16px;
        //height: 275px;
        height: 305px;
        &:nth-child(2n) {
          margin-right: 0;
        }
        //width: 615px;
        //width: 55%;
        &.hidden {
          display: block !important;
        }
        .tabs__panel {
          background-color: #fff;
          border-radius: 3px;
          box-shadow: none;
          text-align: left;
          padding: 30px 25px;
          -webkit-transition: .2s ease-in;
          transition: .2s ease-in;
          position: relative;
          height: 100%;
          width: 100%;
          &:hover {
            background-color: #4b88e5;
            .question {
              color: #fff;
            }
            p {
              color: #fff;
            }
            .buttons {
              .likes {
                &:hover {
                  .image {
                    background-image: url('../../assets/images/heart-icon-filled.svg');
                  }
                }
                .image {
                  background-image: url('../../assets/images/heart-icon-empty.svg');
                }
                .number {
                  color: #fff;
                }
              }
              .open {
                .image {
                  background-image: url('../../assets/images/arrow-up-white.svg');
                }
              }
            }
          }
          .title {
            font-size: 18px;
            line-height: 110%;
            font-weight: 600;
            color: #4a4a49;
            margin-top: 0;
            margin-bottom: 20px;
          }
          .question {
            display: block;
            font-size: 18px;
            color: #4a4a49;
            font-weight: 600;
            line-height: 30px;
            margin-bottom: 25px;
            -webkit-transition: .2s ease-in;
            transition: .2s ease-in;
          }
          .answer {
            height: 90px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            ul {
              margin: 0;
            }
          }
          p {
            line-height: 30px;
            text-indent: 0;
            margin-bottom: 0;
            -webkit-transition: .2s ease-in;
            transition: .2s ease-in;
          }
          .buttons {
            display: flex;
            justify-content: space-between;
            position: absolute;
            z-index: 1;
            bottom: 30px;
            left: 0;
            right: 0;
            margin: auto;
            width: calc(100% - 50px);
            .likes {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              cursor: pointer;
              margin-top: 30px;
              &:hover {
                .image {
                  background-image: url('../../assets/images/heart-icon-filled-blue.svg');
                }
              }
              .image {
                display: block;
                width: 16px;
                height: 14px;
                background-image: url('../../assets/images/heart-icon-empty-blue.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50%;
                -webkit-transition: .2s ease-in;
                transition: .2s ease-in;
              }
              .number {
                margin-left: 10px;
                color: #495974;
                -webkit-transition: .2s ease-in;
                transition: .2s ease-in;
              }
            }
            .open {
              display: block;
              width: 34px;
              height: 28px;
              margin-top: 30px;
              cursor: pointer;
              .image {
                display: block;
                width: 100%;
                height: 100%;
                background-image: url('../../assets/images/arrow-up.svg');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: 50%;
                -webkit-transition: .2s ease-in;
                transition: .2s ease-in;
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
              }
            }
          }
        }
      }
    }
    .question-search {
      position: absolute;
      z-index: 1;
      width: 51%;
      margin-left: 30%;
      left: 0;
      right: 0;
      top: 0;
      height: 63px;
      border-bottom: 0 !important;
      background-color: #fff !important;
      box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06) !important;
      background: url('../../assets/images/search-icon.svg') calc(100% - 20px) 50% no-repeat;
      background-size: 24px;
      padding-left: 25px;
      padding-right: 65px;
      box-sizing: border-box;
      &:hover {
        box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06) !important;
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .move-back {
    display: none;
  }
}
