<footer [ngClass]="{ 'footer-black': footerBlack === true }">
  <div class="left">
    <div class="rights noselect">
      <div class="rights-text" (click)="toggleTotemDropdown($event)"><span>&copy; </span><span translate>2018 Petricor A.Ş. All rights reserved.</span></div>
      <div class="dropdown" [class.active]="totemDropdown">
        <div class="image">
          <img draggable="false" src="assets/images/totem-eggs.png" alt="totem image">
        </div>
        <div class="developer-text">Development by
          <a href="javascript:void(0)" draggable="false">Totem Wide</a>
        </div>
        <div class="rights-text">Payyex 2018. All rights reserved</div>
      </div>
    </div>
  </div>
  <div class="center">
    <!--<div class="question" translate>Got question? Ask us on our channel?</div>-->
    <div class="socials">
      <a draggable="false" href="https://facebook.com/Payyex-120867518496812" target="_blank" rel="noopenet noreferrer">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           width="96.124px" height="96.123px" viewBox="0 0 96.124 96.123" style="enable-background:new 0 0 96.124 96.123;"
           xml:space="preserve">
          <g>
            <path d="M72.089,0.02L59.624,0C45.62,0,36.57,9.285,36.57,23.656v10.907H24.037c-1.083,0-1.96,0.878-1.96,1.961v15.803
              c0,1.083,0.878,1.96,1.96,1.96h12.533v39.876c0,1.083,0.877,1.96,1.96,1.96h16.352c1.083,0,1.96-0.878,1.96-1.96V54.287h14.654
              c1.083,0,1.96-0.877,1.96-1.96l0.006-15.803c0-0.52-0.207-1.018-0.574-1.386c-0.367-0.368-0.867-0.575-1.387-0.575H56.842v-9.246
              c0-4.444,1.059-6.7,6.848-6.7l8.397-0.003c1.082,0,1.959-0.878,1.959-1.96V1.98C74.046,0.899,73.17,0.022,72.089,0.02z"/>
          </g>
        </svg>
        <!--<fa [name]="'facebook'"></fa>-->
      </a>
      <a draggable="false" href="https://twitter.com/payyexofficial" target="_blank" rel="noopenet noreferrer">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 612 612" style="enable-background:new 0 0 612 612;" xml:space="preserve">
          <g>
            <path style="fill:#010002;" d="M612,116.258c-22.525,9.981-46.694,16.75-72.088,19.772c25.929-15.527,45.777-40.155,55.184-69.411
              c-24.322,14.379-51.169,24.82-79.775,30.48c-22.907-24.437-55.49-39.658-91.63-39.658c-69.334,0-125.551,56.217-125.551,125.513
              c0,9.828,1.109,19.427,3.251,28.606C197.065,206.32,104.556,156.337,42.641,80.386c-10.823,18.51-16.98,40.078-16.98,63.101
              c0,43.559,22.181,81.993,55.835,104.479c-20.575-0.688-39.926-6.348-56.867-15.756v1.568c0,60.806,43.291,111.554,100.693,123.104
              c-10.517,2.83-21.607,4.398-33.08,4.398c-8.107,0-15.947-0.803-23.634-2.333c15.985,49.907,62.336,86.199,117.253,87.194
              c-42.947,33.654-97.099,53.655-155.916,53.655c-10.134,0-20.116-0.612-29.944-1.721c55.567,35.681,121.536,56.485,192.438,56.485
              c230.948,0,357.188-191.291,357.188-357.188l-0.421-16.253C573.872,163.526,595.211,141.422,612,116.258z"/>
          </g>
        </svg>
        <!--<fa [name]="'twitter'"></fa>-->
      </a>
      <a draggable="false" href="https://t.me/payyex" target="_blank" rel="noopenet noreferrer">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 300 300" style="enable-background:new 0 0 300 300;" xml:space="preserve">
          <g id="telegram">
            <path d="M5.299,144.645l69.126,25.8l26.756,86.047c1.712,5.511,8.451,7.548,12.924,3.891l38.532-31.412
              c4.039-3.291,9.792-3.455,14.013-0.391l69.498,50.457c4.785,3.478,11.564,0.856,12.764-4.926L299.823,29.22
              c1.31-6.316-4.896-11.585-10.91-9.259L5.218,129.402C-1.783,132.102-1.722,142.014,5.299,144.645z M96.869,156.711l135.098-83.207
              c2.428-1.491,4.926,1.792,2.841,3.726L123.313,180.87c-3.919,3.648-6.447,8.53-7.163,13.829l-3.798,28.146
              c-0.503,3.758-5.782,4.131-6.819,0.494l-14.607-51.325C89.253,166.16,91.691,159.907,96.869,156.711z"/>
          </g>
        </svg>
        <!--<fa [name]="'telegram'"></fa>-->
      </a>
      <!--<a draggable="false" href="https://medium.com/@payyex" target="_blank" rel="noopenet noreferrer">-->
        <!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"-->
           <!--viewBox="0 0 483.86 483.86" style="enable-background:new 0 0 483.86 483.86;" xml:space="preserve">-->
            <!--<g>-->
                <!--<path d="M483.86,112.345h-26.699c-6.952,0-25.143,7.552-25.143,13.981v233.467c0,6.445,18.191,11.729,25.143,11.729h26.699v51.835-->
                    <!--H311.052v-51.835h34.57V129.615h-6.016L256.42,423.356h-64.406l-82.11-293.741h-6.219v241.906h34.555v51.835H0v-51.835h19.173-->
                    <!--c7.527,0,15.383-5.283,15.383-11.729V126.326c0-6.43-7.855-13.981-15.383-13.981H0V60.504h179.155l58.496,207.342h1.574-->
                    <!--l59.073-207.342H483.86V112.345z"/>-->
            <!--</g>-->
        <!--</svg>-->
      <!--</a>-->
    </div>
  </div>
  <div class="right">
    <div class="language">
      <a draggable="false" href="javascript:void(0)" (click)="toggleLanguageDropdown($event)">{{ currentLanguage }}</a>
      <div class="dropdown" [class.active]="languageDropdown">
        <a draggable="false" href="javascript:void(0)" (click)="switchLanguage('tr')" [class.active]="currentLanguage === 'Türkçe'">Türkçe</a>
        <a draggable="false" href="javascript:void(0)" (click)="switchLanguage('en')" [class.active]="currentLanguage === 'English'">English</a>
      </div>
    </div>
    <div class="privacy-terms">
      <!--<a class="privacy" href="javascript:void(0)" translate>Privacy Policy</a>-->
      <a draggable="false" class="terms" href="javascript:void(0)" translate [routerLink]="['/terms']">Terms & Conditions</a>
    </div>
  </div>
</footer>