<h1 class="title black line">{{ "exchange-title" | translate }}</h1>
<div class="content">
  <div class="paragraph-wrapper">
    <p>{{ "exchange-first-paragraph" | translate }}</p>
    <p>{{ "exchange-second-paragraph" | translate }}</p>
  </div>
  <div class="exchange-blocks">
    <div class="block">
      <div class="image">
        <img draggable="false" src="assets/images/exchange-interface.svg" alt="interface">
      </div>
      <div class="text">
        <h2 class="subtitle" translate>{{ "exchange-blocks-first-title" | translate }}</h2>
        <p>{{ "exchange-blocks-first" | translate }}</p>
      </div>
    </div>
    <div class="block">
      <div class="image">
        <img draggable="false" src="assets/images/exchange-support.svg" alt="support">
      </div>
      <div class="text">
        <h2 class="subtitle" translate>{{ "exchange-blocks-second-title" | translate }}</h2>
        <p>{{ "exchange-blocks-second" | translate }}</p>
      </div>
    </div>
    <div class="block">
      <div class="image">
        <img draggable="false" src="assets/images/exchange-tools.svg" alt="tools">
      </div>
      <div class="text">
        <h2 class="subtitle" translate>{{ "exchange-blocks-third-title" | translate }}</h2>
        <p>{{ "exchange-blocks-third" | translate }}</p>
      </div>
    </div>
  </div>
</div>
<div class="why-payyex pb-150 pb-md-50">
  <h1 class="title black" translate>Why Payyex?</h1>
  <div class="why-content">
    <div class="answers">
      <div class="block">
        <h2 class="subtitle-bold black" translate>Payyex supports</h2>
        <p>{{ "why-payyex-first" | translate }}</p>
      </div>
      <div class="block">
        <h2 class="subtitle-bold black" translate>The platform's</h2>
        <p>{{ "why-payyex-second" | translate }}</p>
      </div>
      <div class="block">
        <h2 class="subtitle-bold black" translate>Turkish lira</h2>
        <p>{{ "why-payyex-third" | translate }}</p>
      </div>
      <div class="buttons">
        <a draggable="false" class="btn btn_big waves-effect" translate>Sign Up Now</a>
        <a draggable="false" class="btn additional" translate [routerLink]="['/faq']">Frequently Asked Questions</a>
      </div>
    </div>
    <div class="subscribe">
      <div class="subscribe-title" translate>
        Stay tuned!
      </div>
      <app-subscribe></app-subscribe>
    </div>
  </div>
  <div class="terminal">
    <div class="dot"></div>
    <div class="coin-dot"></div>
  </div>
</div>