:host {
  background-color: #f6f8f9;
  position: relative;
  z-index: 0;
  &:before {
    content: '';
    background: url('../../../assets/images/exchange-line-3.png') no-repeat 100% 87%;
    background-size: cover;
    width: 4px;
    height: 46%;
    position: absolute;
    z-index: -1;
    top: 34%;
    right: -66px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1323px) {
    &:before {
      height: 49%;
      top: 32%;
    }     
  }
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    &:before {
      display: none;
    }     
  }
  &:after {
    content: '';
    background: url('../../../assets/images/exchange-line-2.png') no-repeat 100% 87%;
    background-size: contain;
    width: 20%;
    height: 12%;
    position: absolute;
    z-index: -1;
    top: 0;
    right: calc(100% - 23px);
  }
  @media screen and (min-width: 1250px) and (max-width: 1677px) {
    &:after {
      width: calc(100% - 80%);
    }     
  }
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    &:after {
      display: none;
    }     
  }
}
//.title {
//  &.line {
//    &:before {
//      content: '';
//      background: url('../../../assets/images/exchange-line-6.png') no-repeat 100% 26%;
//      background-size: cover;
//      width: 100%;
//      height: 3px;
//      position: absolute;
//      z-index: -1;
//      top: 57px;
//      left: -80%;
//    }
//  }
//}
.content {
  &:before {
    content: '';
    background: url('../../../assets/images/exchange-line-5.png') no-repeat 100% 26%;
    background-size: cover;
    width: 3px;
    height: 9%;
    position: absolute;
    z-index: -1;
    top: 168px;
    left: 21px;
  }
  & > p {
    max-width: 60%;
    margin: auto;
  }
  @media screen and (min-width: 1534px) and (max-width: 1656px) {
    &:before {
      height: calc(10% + 5px);
    }     
  }
  @media screen and (min-width: 1300px) and (max-width: 1533px) {
    &:before {
      height: calc(10% + 53px);
      top: 179px;
    }     
  }
  @media screen and (min-width: 1239px) and (max-width: 1299px) {
    &:before {
      height: calc(11% + 19px);
      top: 190px;
    }     
  }
  @media screen and (min-width: 1176px) and (max-width: 1299px) {
    &:before {
      height: calc(11% + 50px);
      top: 190px;
    }     
  }
  @media screen and (min-width: 1175px) and (max-width: 1239px) {
    &:before {
      height: calc(11% + 56px);
      top: 190px;
    }     
  }
  @media screen and (min-width: 1024px) and (max-width: 1174px) {
    &:before {
      height: calc(11% + 69px);
      top: 190px;
    }     
  }
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    &:before {
      display: none;
    }     
  }
  // @media screen and (min-width: px) and (max-width: 1175px) {
  //   &:before {
  //     height: calc(11% + 56px);
  //     top: 190px;
  //   }     
  // }
  
}
.exchange-blocks {
  position: relative;
  &:before {
    content: '';
    background: url('../../../assets/images/exchange-line-1.png') no-repeat 50% 50%;
    background-size: contain;
    width: calc(100% + 15px);
    height: 100%;
    position: absolute;
    z-index: -1;
    top: -83px;
    left: 35px;
    right: 0;
    @media screen and (min-width: 1360px) and (max-width: 1656px) {
      &:before {
        height: calc(100% - 6px);
      }     
    }
  }
  .block {
    .text {
      height: 190px;
    }
  }
  @media screen and (min-width: 1324px) and (max-width: 1399px) {
    &:before {
      top: -100px;
    }     
  }
  @media screen and (min-width: 1300px) and (max-width: 1323px) {
    &:before {
      top: -112px;
    }     
  }
  @media screen and (min-width: 1176px) and (max-width: 1299px) {
    &:before {
      top: -117px;
    }     
  }
  @media screen and (min-width: 1093px) and (max-width: 1176px) {
    &:before {
      top: -130px;
    }     
  }
  @media screen and (min-width: 1024px) and (max-width: 1093px) {
    &:before {
      top: -142px;
    }     
  }
  @media screen and (min-width: 1px) and (max-width: 1024px) {
    &:before {
      display: none;
    }     
  }
  .block {
    position: relative;
    &:nth-child(2) {
      &:before {
        content: '';
        background: url('../../../assets/images/exchange-line-dot.png') no-repeat 50% 50%;
        background-size: contain;
        width: 29px;
        height: 29px;
        position: absolute;
        z-index: 1;
        top: 98px;
        left: -30px;
      }
      @media screen and (min-width: 1561px) and (max-width: 1656px) {
        &:before {
          top: 113px;
        }     
      }
      @media screen and (min-width: 1400px) and (max-width: 1560px) {
        &:before {
          top: 125px;
          left: calc(10% - 100px);
        }     
      }
      @media screen and (min-width: 1247px) and (max-width: 1399px) {
        &:before {
          top: 106px;
        }     
      }
      @media screen and (min-width: 1176px) and (max-width: 1246px) {
        &:before {
          top: 120px;
        }     
      }
      @media screen and (min-width: 1134px) and (max-width: 1175px) {
        &:before {
          top: 105px;
        }     
      }
      @media screen and (min-width: 0px) and (max-width: 1133px) {
        &:before {
         display: none;
        }     
      }
    }
    &:last-child {
      &:before {
        content: '';
        background: url('../../../assets/images/exchange-line-dot.png') no-repeat 50% 50%;
        background-size: contain;
        width: 29px;
        height: 29px;
        position: absolute;
        z-index: 1;
        top: 98px;
        right: 10px;
      }
      @media screen and (min-width: 1365px) and (max-width: 1527px) {
        &:before {
          top: 115px;
          left: calc(10% - 100px);
        }     
      }
      @media screen and (min-width: 1360px) and (max-width: 1399px) {
        &:before {
          top: 98px;
          left: calc(10% - 100px);
        }     
      }
      @media screen and (min-width: 1200px) and (max-width: 1280px) {
        &:before {
          top: 98px;
          left: calc(10% - 700px);
        }     
      }
      @media screen and (min-width: 1270px) and (max-width: 1359px) {
        &:before {
          top: 105px;
          left: calc(10% - 100px);
        }     
      }
      @media screen and (min-width: 1134px) and (max-width: 1269px) {
        &:before {
          top: 105px;
          left: calc(10% - 60px);
        }     
      }
      @media screen and (min-width: 0px) and (max-width: 1133px) {
        &:before {
         display: none;
        }     
      }
    }
  }
}

.why-payyex {
  position: relative;
  &:after {
    content: '';
    background: url('../../../assets/images/exchange-line-dot.png') no-repeat 50% 50%;
    background-size: contain;
    width: 29px;
    height: 29px;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: 21px;
  }
  @media screen and (min-width: 0px) and (max-width: 1024px) {
    &:after {
     display: none;
    }     
  }
  .terminal {
    width: 400px;
    height: 470px;
    background: url('../../../assets/images/terminal.png') no-repeat 50% 50%;
    background-size: contain;
    position: absolute;
    z-index: 1;
    right: 100px;
    bottom: -50px;
    &:before {
      content: '';
      background: url('../../../assets/images/exchange-line-4.png') no-repeat 50% 50%;
      background-size: contain;
      width: calc(100% + 170px);
      height: 100%;
      position: absolute;
      z-index: -1;
      top: -30px;
      left: -105px;
      right: 0;
    }
    @media screen and (min-width: 0px) and (max-width: 1024px) {
      &:before {
        display: none;
      }     
    }
    &:after {
      content: '';
      background: url('../../../assets/images/exchange-line-5.png') no-repeat 50% 50%;
      background-size: cover;
      width: 3px;
      height: 38%;
      position: absolute;
      z-index: -1;
      bottom: 0;
      left: -105px;
    }
    @media screen and (min-width: 0px) and (max-width: 1024px) {
      &:after {
        display: none;
      }     
    }
    .dot {
      background: url('../../../assets/images/exchange-line-dot.png') no-repeat 50% 50%;
      background-size: contain;
      width: 29px;
      height: 29px;
      position: absolute;
      z-index: 1;
      top: 80px;
      right: -78px;
      
    }
    @media screen and (min-width: 0px) and (max-width: 1024px) {
      .dot {
        display: none;
      }     
    }
    .coin-dot {
      background: url('../../../assets/images/exchange-line-dot-coin.png') no-repeat 50% 50%;
      background-size: contain;
      width: 48px;
      height: 48px;
      position: absolute;
      z-index: 1;
      top: 186px;
      left: -40px;
    }
    @media screen and (min-width: 0px) and (max-width: 1024px) {
      .coin-dot {
        display: none;
      }     
    }
  }
}
.paragraph-wrapper {
  height: 140px;
}
