<div class="page-content">
  <div class="inside-header">
    <a class="logo" routerLink="/home" draggable="false">
      <img src="assets/images/logo-violet.svg" alt="logo payyex" draggable="false">
      <div class="title" translate>Your Cryptocurrency Portal</div>
    </a>
  </div>
  <a draggable="false" [routerLink]="['/']" class="move-back">
    <img src="assets/images/arrow-up.svg" alt="arrow up" draggable="false">
  </a>
  <h1 class="title black" translate>Limits & Fees</h1>
  <custom-tabs [activeTabs]="true">
    <custom-tab tabTitle="{{ 'Limits' | translate }}">
      <h4 class="title" translate>Limits</h4>
      <p>{{ 'limits-and-fees-first' | translate }}</p>
      <p>{{ 'limits-and-fees-second' | translate }}</p>
      <table>
        <tr>
          <th translate>Unverified Accounts</th>
          <th translate>Verified Accounts</th>
        </tr>
        <tr>
          <td><span translate>Daily deposit:</span><span class="span"> 500 TRY</span></td>
          <td><span translate>Daily deposit:</span><span class="span"> 50,000 TRY</span></td>
        </tr>
        <tr>
          <td><span translate>Daily withdrawal:</span><span class="span"> 500 TRY</span></td>
          <td><span translate>Daily withdrawal:</span><span class="span"> 50,000 TRY</span></td>
        </tr>
        <tr>
          <td><span translate>Monthly deposit:</span><span class="span"> 5,000 TRY</span></td>
          <td><span translate>Monthly deposit:</span><span class="span"> 1,000,000 TRY</span></td>
        </tr>
        <tr>
          <td><span translate>Monthly withdrawal:</span><span class="span"> 5,000 TRY</span></td>
          <td><span translate>Monthly withdrawal:</span><span class="span"> 1,000,000 TRY</span></td>
        </tr>
      </table>
    </custom-tab>
    <custom-tab tabTitle="{{ 'Fees' | translate }}">
      <h4 class="title" translate>Fees</h4>
      <p>{{ 'fees-first' | translate }}</p>
      <p class="mb-0">{{ 'fees-second' | translate }}</p>
      <p>{{ 'fees-third' | translate }}</p>
      <p>{{ 'fees-fourth' | translate }}</p>
    </custom-tab>
  </custom-tabs>
  <div class="why-payyex mb-50 mb-md-25">
    <h1 class="title black" translate>Why Payyex?</h1>
    <div class="why-content">
      <div class="answers">
        <div class="block">
          <h2 class="subtitle-bold black">{{ "why-payyex-first-title" | translate }}</h2>
          <p>{{ "why-payyex-first" | translate }}</p>
        </div>
        <div class="block">
          <h2 class="subtitle-bold black">{{ "why-payyex-second-title" | translate }}</h2>
          <p>{{ "why-payyex-second" | translate }}</p>
        </div>
        <div class="block">
          <h2 class="subtitle-bold black">{{ "why-payyex-third-title" | translate }}</h2>
          <p>{{ "why-payyex-third" | translate }}</p>
        </div>
        <div class="buttons">
          <a draggable="false" class="btn btn_big waves-effect" translate>Sign Up Now</a>
          <a draggable="false" class="btn additional" translate>Frequently Asked Questions</a>
        </div>
      </div>
      <div class="subscribe">
        <div class="subscribe-title" translate>
          Stay tuned!
        </div>
        <app-subscribe></app-subscribe>
      </div>
    </div>
  </div>
</div>
