router-outlet {
  &::ng-deep {
    ~ * {
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
.inside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 100px;
  background: #f6f8f9;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  .logo {
    margin-top: 0;
    .title {
      padding-left: 50px;
      font-size: 12px;
      line-height: 1.5;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 35px 20px;
  }
}
.move-back {
  position: absolute;
  width: 32px;
  left: 100px;
  top: 120px;
  opacity: .3;
  margin-top: 0 !important;
  &:hover {
    opacity: 1;
  }
}
.logo {
  @media screen and (max-width: 767px) {
    margin: auto;
    margin-top: 10px;
  }
  img {
    width: 215px;
  }
  .title {
    color: #6b7e9e;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
  }
}
.page-content {
  padding: 80px 100px 90px;
  overflow: auto;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #f6f8f9;
  @media screen and (max-width: 767px) {
    padding: 100px 20px 250px;
    text-align: left;
  }
  &::ng-deep {
    .content {
      width: 55%;
      margin: auto;
      @media screen and (max-width: 1199px) {
        width: 80%;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .title {
      font-size: 60px;
      color: #4a4a49;
      line-height: 90px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-weight: 700;
      &.black {
        color: #4a4a49;
        background-color: transparent !important;
      }
      @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 50px;
        font-weight: 700;
        margin-top: 40px;
      }
    }
    .subtitle {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 400;
      @media screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 46px;
        font-weight: 400;
        margin-top: 40px;
      }
    }
    .subtitle-bold {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 600;
      &.black {
        color: #4a4a49;
        background-color: transparent !important;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      line-height: 28px;
      color: #495974;
      text-indent: 35px;
    }
    a {
      margin-top: 60px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .exchange-blocks {
      margin: 50px 0;
      .block {
        margin: 80px 0;
        display: flex;
        align-content: center;
        flex-direction: row;
        @media screen and (max-width: 767px) {
          flex-direction: column;
          .image {
            width: 100% !important;
            padding-right: 0 !important;
          }
          .text {
            width: 100% !important;
            padding-left: 0 !important;
          }
        }
        .image {
          width: calc(50% - 25px);
          padding-right: 25px;
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: calc(50% - 25px);
          padding-left: 25px;
          text-align: left;
          p {
            text-indent: 0;
          }
        }
      }
    }
    .why-payyex {
      position: relative;
      &:before {
        content: '';
        width: 300px;
        height: 400px;
        background: url('/../../assets/images/modal-bg.png') no-repeat 50% 50%;
        background-size: contain;
        position: absolute;
        z-index: -1;
        left: 0;
        @media screen and (max-width: 767px) {
          width: 930px;
          height: 470px;
          left: -20px;
        }
      }
      .why-content {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
      }
      .answers {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 50px;
        @media screen and (max-width: 1199px) {
          padding-right: 0;
          width: 100%;
          margin-bottom: 70px;
        }
        .block {
          text-align: left;
          padding: 0 45px;
          &.first {
            padding-left: 0;
          }
          &.third {
            padding-right: 0;
          }
          .subtitle-bold {
            margin-bottom: 15px;
          }
          p {
            text-indent: 0;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          left: 0;
          bottom: 100px;
          margin-left: 40px;
          a {
            &.additional {
              margin-left: 40px;
              color: #6b7e9e;
            }
          }
          @media screen and (max-width: 767px) {
            flex-direction: column;
            .btn {
              width: 100%;
              display: block;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
              &.additional {
                margin-top: 10px;
              }
            }
          }
        }
      }
      .subscribe {
        width: 50%;
        padding-right: 0;
        padding-left: 150px;
        @media screen and (max-width: 1399px) {
          padding-left: 60px;
        }
        @media screen and (max-width: 1199px) {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
        .subscribe-title {
          color: #495974;
          font-size: 16px;
          line-height: 28px;
          font-weight: 700;
          text-align: left;
          margin-bottom: 45px;
          padding-right: 250px;
          @media screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 28px;
          }
        }
        app-subscribe {
          /deep/ {
            form {
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;
              @media screen and (max-width: 767px) {
                flex-direction: column;
              }
              &.ng-valid {
                h2 {
                  font-size: 23px;
                }
              }
              & > .row {
                margin-left: 0;
                width: 55%;
                @media screen and (max-width: 1199px) {
                  width: calc(100% - 270px);
                }
                @media screen and (max-width: 767px) {
                  width: 100%;
                }
                input {
                  margin-bottom: 0;
                }
              }
              .btn {
                &.btn_big {
                  margin-left: 0;
                  margin-right: 40px;
                }
              }
            }
          }
        }
      }
    }
    custom-tabs {
      padding: 10px 10px;
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 30px;
      min-height: initial;
      .tabs__tab-bar {
        display: flex;
        flex-direction: column;
        align-self: initial;
        border: 0;
        //box-shadow: 0 10px 20px 0 rgba(36, 50, 66, 0.06);
        //width: 250px;
        width: 23%;
        margin-right: 7%;
        position: relative;
        overflow: visible;
        &:before {
          content: '';
          position: absolute;
          box-shadow: 10px 0 20px 0 rgba(36, 50, 66, 0.06);
          width: 15px;
          height: 100%;
          right: 0;
          top: 0;
          bottom: 0;
        }
        li {
          background-color: transparent !important;
          text-align: left;
          transition: .2s ease-in;
          color: #4a4a49;
          font-weight: 600;
          font-size: 16px;
          padding: 10px 45px;
          position: relative;
          margin-bottom: 5px;
          cursor: pointer;
          &:hover {
            color: #4b88e5;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 5px;
            height: 100%;
            background: url('../../assets/images/tab-active.svg') 50% 50% no-repeat;
            transition: .2s ease-in;
            opacity: 0;
          }
          &.active {
            color: #4b88e5;
            background-color: transparent !important;
            &:before {
              opacity: 1;
            }
          }
        }
      }
      custom-tab {
        display: flex;
        height: 100%;
        background-color: #fff;
        border-radius: 3px;
        border: 0;
        box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06);
        //width: 615px;
        width: 55%;
        .tabs__panel {
          background-color: #fff;
          border-radius: 3px;
          box-shadow: none;
          text-align: left;
          padding: 30px 25px;
          .title {
            font-size: 18px;
            line-height: 110%;
            font-weight: 600;
            color: #4a4a49;
            margin-top: 0;
            margin-bottom: 20px;
          }
          p {
            text-indent: 0;
            margin-bottom: 20px;
          }
          table {
            margin-bottom: 15px;
            tr {
              border-bottom: 1px solid #c7d3e6;
            }
            th {
              font-size: 16px;
              line-height: 110%;
              font-weight: 600;
              color: #4a4a49;
            }
            td {
              font-size: 14px;
              color: #495974;
              .span {
                font-weight: 600;
              }
            }
          }
        };
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .move-back {
    display: none;
  }
}
