<ul class="tabs__tab-bar">
  <li *ngFor="let tab of tabs; let index = index"
      (click)="selectTab(tab, index)"
      class="tabs__tab"
      [class.active]="tab.active">
    {{ tab.title }}
  </li>
</ul>
<ng-content></ng-content>
