:host {
  &.common {
    padding: 0 !important;
    margin-top: 20px !important;
    flex-direction: column !important;
    .tabs__tab-bar {
      flex-direction: row;
      box-shadow: none;
      width: 100%;
      margin-right: 0;
      margin-top: 0;
      &:before {
        display: none;
      }
      li {
        padding: 0;
        margin-right: 30px;
        font-size: 14px;
        font-weight: 600;
        line-height: 26px;
        color: #495974;
        padding-bottom: 10px;
        &:before {
          top: auto;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: transparent;
          background-image: none;
          border-radius: 100px;
        }
        &:last-child {
          margin-right: 0;
        }
        &.active {
          &:before {
            background-color: #4b88e5;
          }
        }
      }
    }
    &::ng-deep {
      custom-tab {
        .tabs__panel {
          padding-left: 0;
          padding-right: 0;
          pre {
            &.json {
              background-color: #fcfcfc;
            }
          }
        }
      }
    }
  }
}
.tabs__tab-bar {
  li {
    &.active {
      pointer-events: none;
    }
  }
}