<h1 class="title">{{ "corporate-title" | translate }}</h1>
<div class="content">
  <p>{{ "corporate-subtitle" | translate }}</p>
  <ul>
    <li>{{ "corporate-first-paragraph" | translate }}</li>
    <li>{{ "corporate-second-paragraph" | translate }}</li>
    <li>{{ "corporate-third-paragraph" | translate }}</li>
  </ul>
  <a class="btn btn_big waves-effect" draggable="false" translate [routerLink]="['/contact']">Reach Us</a>
</div>