router-outlet {
  &::ng-deep {
    ~ * {
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
:host {
  background-color: #f6f8f9;
}
.inside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 40px;
  background-color: transparent;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  .logo {
    margin-top: 0;
    .title {
      padding-left: 50px;
      color: #fff;
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 35px 20px;
  }
}
.move-back {
  position: absolute;
  width: 32px;
  left: 100px;
  top: 120px;
  opacity: .3;
  margin-top: 0 !important;
  &:hover {
    opacity: 1;
  }
}
.logo {
  @media screen and (max-width: 767px) {
    margin: auto;
    margin-top: 10px;
  }
  img {
    width: 215px;
  }
  .title {
    color: #6b7e9e;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
  }
}
.page-content {
  padding: 80px 100px 90px;
  overflow: auto;
  text-align: center;
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 1680px;
  background-color: #f6f8f9;
  @media screen and (max-width: 767px) {
    padding: 100px 20px 250px;
    text-align: left;
  }
  &::ng-deep {
    .content {
      width: 100%;
      margin: auto;
    }
    .title {
      font-size: 46px;
      color: #4a4a49;
      line-height: 70px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-weight: 700;
      &.black {
        background-color: transparent !important;
        color: #4a4a49;
      }
      @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 50px;
        font-weight: 700;
        margin-top: 40px;
      }
    }
    .subtitle {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 400;
      @media screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 46px;
        font-weight: 400;
        margin-top: 40px;
      }
    }
    .subtitle-bold {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 600;
      &.black {
        background-color: transparent !important;
        color: #4a4a49;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      line-height: 28px;
      color: #495974;
      text-indent: 35px;
    }
    a {
      margin-top: 60px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .exchange-blocks {
      margin: 50px 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-left: -15px;
      margin-right: -15px;
      .block {
        display: flex;
        align-content: center;
        flex-direction: column;
        width: 23.33%;
        padding: 0 15px;
        margin: 0 5%;
        &:first-child {
          .image {
            img {
              margin-top: -15px;
            }
          }
        }
        .image {
          width: 100%;
          height: 200px;
          img {
            height: 100%;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          text-align: left;
          .subtitle {
            text-align: center;
            font-size: 30px;
          }
          p {
            text-indent: 0;
          }
        }
        @media screen and (max-width: 767px) {
          flex-direction: column;
          .image {
            width: 100%;
            padding-right: 0;
          }
          .text {
            width: 100%;
            padding-left: 0;
          }
        }
      }
    }
    .why-payyex {
      position: relative;
      margin-left: -100px;
      margin-right: -100px;
      padding-left: 100px;
      padding-right: 100px;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: url('/../../assets/images/btc-bg.svg') no-repeat -15% 50%;
        background-size: contain;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 5%;
        @media screen and (min-width: 1681px) {
          background-position: 0 50%;
        }
      }
      .why-content {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        @media screen and (max-width: 1199px) {
          flex-direction: column;
        }
      }
      .answers {
        width: 50%;
        padding-right: 150px;
        @media screen and (max-width: 1399px) {
          padding-right: 60px;
        }
        @media screen and (max-width: 1199px) {
          padding-right: 0;
          width: 100%;
          margin-bottom: 70px;
        }
        .block {
          text-align: left;
          .subtitle-bold {
            margin-bottom: 15px;
          }
          p {
            text-indent: 0;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media screen and (max-width: 767px) {
            flex-direction: column;
            .btn {
              width: 100%;
              display: block;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
              &.additional {
                margin-top: 10px;
              }
            }
          }
        }
      }
      .subscribe {
        width: 50%;
        padding-right: 0;
        padding-left: 150px;
        margin-top: 20px;
        @media screen and (max-width: 1399px) {
          padding-left: 60px;
        }
        @media screen and (max-width: 1199px) {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
        .subscribe-title {
          color: #495974;
          font-size: 16px;
          line-height: 28px;
          font-weight: 700;
          text-align: left;
          margin-bottom: 30px;
          padding-right: 65px;
          @media screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 28px;
          }
        }
        app-subscribe {
          /deep/ {
            form {
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;
              @media screen and (max-width: 767px) {
                flex-direction: column;
              }
              &.ng-valid {
                h2 {
                  font-size: 23px;
                }
              }
              & > .row {
                margin-left: 0;
                width: 50%;
                @media screen and (max-width: 1199px) {
                  width: calc(100% - 270px);
                }
                @media screen and (max-width: 767px) {
                  width: 100%;
                }
                input {
                  margin-bottom: 0;
                }
              }
              .btn {
                &.btn_big {
                  margin-left: 0;
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
.video-wrapper {
  width: 100%;
  //height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  left: 0;
  top: 0;
  //min-height: 660px;
  height: 495px;
  -webkit-box-shadow: 0 15px 50px 0 rgba(75, 136, 229, 0.2);
  box-shadow: 0 15px 50px 0 rgba(75, 136, 229, 0.2);
  &:before {
    content: '';
    //background: -moz-linear-gradient(-45deg, rgba(44,48,77,0.7) 0%, rgba(36,41,63,0.7) 100%);
    //background: -webkit-linear-gradient(-45deg, rgba(44,48,77,0.7) 0%,rgba(36,41,63,0.7)100%);
    //background: linear-gradient(135deg, rgba(44,48,77,0.7) 0%,rgba(36,41,63,0.7) 100%);
    //background: -moz-linear-gradient(-45deg, rgba(6, 4, 47, 1), rgba(29, 57, 98, .8));
    //background: -webkit-linear-gradient(-45deg, rgba(6, 4, 47, 1), rgba(29, 57, 98, .8));
    //background: linear-gradient(135deg, rgba(6, 4, 47, 1), rgba(29, 57, 98, .8));
    //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06042f', endColorstr='#1d3962',GradientType=1 );
    background-color: rgba(75, 136, 229, .95);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .cross {
    width: 165px;
    height: 165px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: cubic-bezier(.23,1,.32,1);
    animation-timing-function: cubic-bezier(.23,1,.32,1);
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    &.cross-blue {
      background-image: url('../../assets/images/cross-blue.png');
    }
    &.cross-purple {
      background-image: url('../../assets/images/cross-purple.png');
    }
    &.cross-1 {
      //left: -20px;
      //top: 35px;
      left: -0.8%;
      top: 5%;
      -webkit-animation-name: cross1;
      animation-name: cross1;
      -webkit-animation-duration: 85s;
      animation-duration: 85s;
    }
    &.cross-2 {
      //left: 175px;
      //top: 260px;
      left: 7%;
      top: 34%;
      -webkit-animation-name: cross2;
      animation-name: cross2;
      -webkit-animation-duration: 81s;
      animation-duration: 81s;
    }
    &.cross-3 {
      //left: 35px;
      //top: 460px;
      left: 1.5%;
      top: 61%;
      -webkit-animation-name: cross3;
      animation-name: cross3;
      -webkit-animation-duration: 83s;
      animation-duration: 83s;
    }
    &.cross-4 {
      //left: 115px;
      //top: 640px;
      left: 4.5%;
      top: 85%;
      -webkit-animation-name: cross4;
      animation-name: cross4;
      -webkit-animation-duration: 95s;
      animation-duration: 95s;
    }
    &.cross-5 {
      //left: 250px;
      //top: 70px;
      left: 10%;
      top: 9%;
      -webkit-animation-name: cross5;
      animation-name: cross5;
      -webkit-animation-duration: 90s;
      animation-duration: 90s;
    }
    &.cross-6 {
      //left: 410px;
      //top: 555px;
      left: 16%;
      top: 74%;
      -webkit-animation-name: cross6;
      animation-name: cross6;
      -webkit-animation-duration: 88s;
      animation-duration: 88s;
    }
    &.cross-7 {
      //left: 455px;
      //top: 145px;
      left: 18%;
      top: 19%;
      -webkit-animation-name: cross7;
      animation-name: cross7;
      -webkit-animation-duration: 86s;
      animation-duration: 86s;
    }
    &.cross-8 {
      //left: 700px;
      //top: 45px;
      left: 27%;
      top: 6%;
      -webkit-animation-name: cross8;
      animation-name: cross8;
      -webkit-animation-duration: 83s;
      animation-duration: 83s;
    }
    &.cross-9 {
      //left: 680px;
      //top: 370px;
      left: 25%;
      top: 49%;
      -webkit-animation-name: cross9;
      animation-name: cross9;
      -webkit-animation-duration: 80s;
      animation-duration: 80s;
    }
    &.cross-10 {
      //left: 755px;
      //top: 560px;
      left: 29%;
      top: 74%;
      -webkit-animation-name: cross10;
      animation-name: cross10;
      -webkit-animation-duration: 78s;
      animation-duration: 78s;
    }
  }
}
.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('../../assets/images/video-poster.jpg') no-repeat;
  background-size: cover;
}
.title {
  &.white {
    background-color: transparent !important;
    color: #fff;
  }
}
.subtitle {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 28px !important;
}
.contact-form {
  display: flex;
  flex-direction: row;
  width: 900px;
  min-height: 586px;
  margin: auto;
  border-radius: 3px;
  overflow: hidden;
  margin-top: 50px;
  margin-bottom: 100px;
  -webkit-box-shadow: 0 12px 21px 0 rgba(36, 50, 66, 0.15);
  box-shadow: 0 12px 21px 0 rgba(36, 50, 66, 0.15);
  .form-title {
    font-size: 30px;
    line-height: 28px;
    font-weight: 500;
    color: #4a4a49;
    text-align: left;
    margin-top: 33px;
    margin-bottom: 50px;
  }
  .form {
    background-color: #fff;
    padding: 0 30px;
    width: 62%;
    background-image: url('../../assets/images/envelope.svg');
    background-size: 80px;
    background-position: calc(100% - 30px) 30px;
    background-repeat: no-repeat;
    align-items: stretch;
    button {
      margin-top: 0;
      margin-bottom: 45px;
    }
    textarea {
      min-height: 100px;
    }
  }
  .info {
    background-color: #222841;
    width: 38%;
    background-image: url('../../assets/images/message.svg');
    background-size: 35px;
    background-position: 30px 30px;
    background-repeat: no-repeat;
    padding: 105px 30px 30px;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .info-title {
      font-size: 18px;
      line-height: 28px;
      color: #fff;
      text-transform: uppercase;
      text-align: left;
    }
    .info-text {
      font-size: 16px;
      line-height: 28px;
      color: #fff;
      text-align: left;
    }
    .address {
      font-size: 16px;
      line-height: 28px;
      color: #fff;
      text-align: left;
      background-image: url('../../assets/images/logo-white-mini.svg');
      background-size: 100px;
      background-position: calc(100% - 25px) calc(100% - 30px);
      background-repeat: no-repeat;
      margin-left: -30px;
      margin-right: -30px;
      margin-bottom: -30px;
      padding: 30px;
    }
  }
}

@media screen and (max-width: 767px) {
  .move-back {
    display: none;
  }
}