router-outlet {
  &::ng-deep {
    ~ * {
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
:host {
  background-color: #f6f8f9;
}
.inside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 100px;
  background: #f6f8f9;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  .logo {
    margin-top: 0;
    .title {
      padding-left: 50px;
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 35px 20px;
  }
}
.move-back {
  position: absolute;
  width: 32px;
  left: 100px;
  top: 120px;
  opacity: .3;
  margin-top: 0 !important;
  z-index: 1;
  &:hover {
    opacity: 1;
  }
}
.logo {
  @media screen and (max-width: 767px) {
    margin: auto;
    margin-top: 10px;
  }
  img {
    width: 215px;
  }
  .title {
    color: #6b7e9e;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
  }
}
.page-content {
  padding: 80px 100px 90px;
  overflow: auto;
  text-align: center;
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 1680px;
  background-color: #f6f8f9;
  @media screen and (max-width: 767px) {
    padding: 100px 20px 250px;
    text-align: left;
  }
  &::ng-deep {
    .paragraph-wrapper {
      max-width: 60%;
      margin: auto;
    }
    .content {
      width: 100%;
      margin: auto;
      ul {
        padding-left: 20px;
        text-align: left;
        li {
          list-style-type: disc;
          font-size: 16px;
          line-height: 28px;
          color: #495974;
        }
      }
    }
    .title {
      font-size: 46px;
      color: #4a4a49;
      line-height: 70px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-weight: 700;
      &.black {
        background-color: transparent !important;
        color: #4a4a49;
      }
      @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 50px;
        font-weight: 700;
        margin-top: 40px;
      }
    }
    .subtitle {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 400;
      @media screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 46px;
        font-weight: 400;
        margin-top: 40px;
      }
    }
    .subtitle-bold {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 600;
      &.black {
        background-color: transparent !important;
        color: #4a4a49;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      line-height: 28px;
      color: #495974;
      text-indent: 35px;
    }
    a {
      margin-top: 60px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .exchange-blocks {
      margin: 50px 0;
      display: flex;
      align-items: center;
      flex-direction: row;
      margin-left: -15px;
      margin-right: -15px;
      .block {
        display: flex;
        align-content: center;
        flex-direction: column;
        width: 23.33%;
        padding: 0 15px;
        margin: 0 5%;
        &:first-child {
          .image {
            img {
              margin-top: -15px;
            }
          }
        }
        .image {
          width: 100%;
          height: 200px;
          img {
            height: 100%;
          }
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          text-align: left;
          .subtitle {
            text-align: center;
            font-size: 30px;
          }
          p {
            text-indent: 0;
          }
        }
        @media screen and (max-width: 767px) {
          flex-direction: column;
          .image {
            width: 100%;
            padding-right: 0;
          }
          .text {
            width: 100%;
            padding-left: 0;
          }
        }
      }
    }
    .why-payyex {
      position: relative;
      margin-left: -100px;
      margin-right: -100px;
      padding-left: 100px;
      padding-right: 100px;
      &:before {
        content: '';
        width: 100%;
        height: 100%;
        background: url('/../../assets/images/btc-bg.svg') no-repeat -15% 50%;
        background-size: contain;
        position: absolute;
        z-index: -1;
        left: 0;
        top: 5%;
        @media screen and (min-width: 1681px) {
          background-position: 0 50%;
        }
      }
      .why-content {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        @media screen and (max-width: 1199px) {
          flex-direction: column;
        }
      }
      .answers {
        width: 50%;
        padding-right: 150px;
        @media screen and (max-width: 1399px) {
          padding-right: 60px;
        }
        @media screen and (max-width: 1199px) {
          padding-right: 0;
          width: 100%;
          margin-bottom: 70px;
        }
        .block {
          text-align: left;
          .subtitle-bold {
            margin-bottom: 15px;
          }
          p {
            text-indent: 0;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media screen and (max-width: 767px) {
            flex-direction: column;
            .btn {
              width: 100%;
              display: block;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
              &.additional {
                margin-top: 10px;
              }
            }
          }
        }
      }
      .subscribe {
        width: 50%;
        padding-right: 0;
        padding-left: 150px;
        margin-top: 20px;
        @media screen and (max-width: 1399px) {
          padding-left: 60px;
        }
        @media screen and (max-width: 1199px) {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
        .subscribe-title {
          color: #495974;
          font-size: 16px;
          line-height: 28px;
          font-weight: 700;
          text-align: left;
          margin-bottom: 30px;
          padding-right: 65px;
          @media screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 28px;
          }
        }
        app-subscribe {
          /deep/ {
            form {
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;
              @media screen and (max-width: 767px) {
                flex-direction: column;
              }
              &.ng-valid {
                h2 {
                  font-size: 23px;
                }
              }
              & > .row {
                margin-left: 0;
                width: 50%;
                @media screen and (max-width: 1199px) {
                  width: calc(100% - 270px);
                }
                @media screen and (max-width: 767px) {
                  width: 100%;
                }
                input {
                  margin-bottom: 0;
                }
              }
              .btn {
                &.btn_big {
                  margin-left: 0;
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .move-back {
    display: none;
  }
}