<h1 class="title">{{ "merchant-title" | translate }}</h1>
<div class="content">
  <div class="paragraph-wrapper">
    <p class="text-left">{{ "merchant-first-paragraph" | translate }}</p>
    <p class="text-left">{{ "merchant-second-paragraph" | translate }}</p>
    <p class="text-left">{{ "merchant-third-paragraph" | translate }}</p>
    <br>
  </div>
  <div class="exchange-blocks" *ngIf="currentLanguage === 'tr'">
    <div class="block">
      <div class="text">
        <h2 class="subtitle" translate>{{ "merchant-blocks-first-title" | translate }}</h2>
        <p>{{ "merchant-blocks-first" | translate }}</p>
      </div>
    </div>
    <div class="block">
      <div class="text">
        <h2 class="subtitle" translate>{{ "merchant-blocks-second-title" | translate }}</h2>
        <p>{{ "merchant-blocks-second" | translate }}</p>
      </div>
    </div>
    <div class="block">
      <div class="text">
        <h2 class="subtitle" translate>{{ "merchant-blocks-third-title" | translate }}</h2>
        <p>{{ "merchant-blocks-third" | translate }}</p>
      </div>
    </div>
  </div>
  <p class="text-center">{{ "merchant-link-paragraph" | translate }}</p>
  <a href="https://trade.payyex.com/tr/merchant/how-to"
     class="btn btn_big waves-effect"
     draggable="false"
     target="_blank"
     rel="noreferrer noopener"
     translate>How To</a>
</div>
<div class="why-payyex pb-150 pb-md-50">
  <h1 class="title black" translate>Why Payyex?</h1>
  <div class="why-content">
    <div class="answers">
      <div class="block">
        <h2 class="subtitle-bold black" translate>Payyex supports</h2>
        <p>{{ "why-payyex-first" | translate }}</p>
      </div>
      <div class="block">
        <h2 class="subtitle-bold black" translate>The platform's</h2>
        <p>{{ "why-payyex-second" | translate }}</p>
      </div>
      <div class="block">
        <h2 class="subtitle-bold black" translate>Turkish lira</h2>
        <p>{{ "why-payyex-third" | translate }}</p>
      </div>
      <div class="buttons">
        <a draggable="false" class="btn btn_big waves-effect" translate>Sign Up Now</a>
        <a draggable="false" class="btn additional" translate [routerLink]="['/faq']">Frequently Asked Questions</a>
      </div>
    </div>
    <div class="subscribe">
      <div class="subscribe-title" translate>
        Stay tuned!
      </div>
      <app-subscribe></app-subscribe>
    </div>
  </div>
  <div class="terminal">
    <div class="dot"></div>
    <div class="coin-dot"></div>
  </div>
</div>