:host {
  //display: flex;
  //height: 100vh;
  main {
    position: relative;
    width: 100%;
    height: 100vh;
    //margin-bottom: 150px;
    display: flex;
    align-items: center;
    @media screen and (max-width: 767px) {
      height: 100%;
    }
  }

  /deep/ router-outlet ~ * {
    //transition: .2s ease-in;
    @media screen and (min-width: 768px) {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
    @media screen and (max-width: 767px) {
      & + * {
        display: none;
      }
    }
  }
}