<div class="page-content">
	<div class="inside-header">
		<a class="logo" routerLink="/home" draggable="false">
			<img src="assets/images/logo-violet.svg" alt="logo payyex" draggable="false">
			<div class="title" translate>Your Cryptocurrency Portal</div>
		</a>
	</div>
  <a draggable="false" [routerLink]="['/']" class="move-back">
    <img src="assets/images/arrow-up.svg" alt="arrow up" draggable="false">
  </a>
  <h1 class="title black" translate>API</h1>
  <ng-template [ngIf]="listOfPages">
    <custom-tabs [activeTabs]="true">
      <custom-tab
              *ngFor="let tab of listOfPages"
              tabTitle="{{ tab.path | apidocsPath }}">
        <ul class="api">
          <li class="names">
            <div class="name">Method</div>
            <div class="request">Request</div>
            <div class="type">Type</div>
          </li>
          <ng-template [ngIf]="tab.path === '/../common.json'">
            <li class="line"
                *ngFor="let line of commonApiApies; let index = index;"
                [class.active]="commonOpenedInfo[index]">
              <div class="main"
                   (click)="commonOpenedInfo[index] = !commonOpenedInfo[index]">
                <div class="name">
                  <div class="api-name">{{ line.nickname }}</div>
                  <div class="api-summary">{{ line.summary }}</div>
                </div>
                <div class="request">
                  <div class="api-request">
                    {{ line.method }}
                  </div>
                </div>
                <div class="type">
                  <div class="api-type">
                    {{ commonApiTypes[index] }}
                  </div>
                </div>
              </div>
              <div class="addition">
                <div class="notes">
                  <div class="addition-title">Implementation Notes</div>
                  <div class="addition-text">{{ line.notes }}</div>
                </div>
                <div class="response">
                  <div class="addition-title">Response Class</div>
                  <custom-tabs class="common" [activeTabs]="true">
                    <custom-tab tabTitle="Model">
	                    <div *ngFor="let model of line.referral_models">
		                    <div class="model">
			                    <span class="model-title">{{ model }}</span>
			                    {{ '{' }}
			                    <pre class="model-properties">
				                    {{ commonApiModels[model] | json }}
			                    </pre>
		                    </div>
	                    </div>
                    </custom-tab>
                    <custom-tab tabTitle="Model Schema">
                      <pre class="json">
                        {{ commonApiModels[line.type] | json }}
                      </pre>
                    </custom-tab>
                  </custom-tabs>
                </div>
                <div class="content-type half-width">
                  <div class="addition-subtitle">Response Content Type</div>
                  <div class="content-type-text">{{ line.consumes }}</div>
                </div>
                <div class="addition-title">Parameters</div>
                <form class="parameters"
                      #form="ngForm"
                      (ngSubmit)="formSubmit(
                      commonApiApiesPaths[index],
                      line.method,
                      form.value,
                      index,
                      tab.path)"
                      ngNativeValidate>
                  <div class="parameter"
                       *ngFor="let parameter of commonApiApiesParams[index]; let first = first; let last = last;"
                       [class.last]="last">
                    <div class="parameter-info half-width">
                      <div class="parameter-name-desc">
                        <div class="name">{{ parameter.name }}</div>
                        <div class="desc">{{ parameter.description }}</div>
                      </div>
                      <div class="parameter-input">
                        <input [class.required]="parameter.required"
                               minlength="1"
                               name="{{ parameter.name }}"
                               [attr.placeholder]="parameter.required ? 'Required' : ''"
                               [attr.required]="parameter.required ? 'required' : null"
                               type="text"
                               value=""
                               #name="ngModel"
                               ngModel>
                      </div>
                    </div>
                    <div class="parameter-type half-width">
                      <div class="addition-subtitle">Parameter Type</div>
                      <div class="parameter-type-type">
                        <span>{{ parameter.type }}</span>
                      </div>
                    </div>
                    <div class="data-type half-width">
                      <div class="addition-subtitle">Data Type</div>
                      <div class="data">
                        <span>{{ parameter.paramType }}</span>
                      </div>
                    </div>
                  </div>
                  <input class="submit btn btn_big waves-effect"
                         name="commit"
                         type="submit"
                         value="Try it out!">
                  <div class="results" *ngIf="commonRequestResult[index]">
                    <div class="addition-title">Request URL</div>
                    <pre>{{ commonRequestUrl[index] }}</pre>
                    <div class="addition-title">Response Body</div>
                    <pre>{{ commonResponseBody[index] }}</pre>
                    <div class="addition-title">Response Code</div>
                    <pre>{{ commonResponseCode[index] }}</pre>
                    <div class="addition-title">Response Headers</div>
                    <pre>{{ commonResponseHeaders[index] }}</pre>
                  </div>
                </form>
              </div>
            </li>
          </ng-template>
          <ng-template [ngIf]="tab.path === '/../user-groups.json'">
            <li class="line"
                *ngFor="let line of userGroupsApiApies; let index = index;"
                [class.active]="userGroupsOpenedInfo[index]">
              <div class="main"
                   (click)="userGroupsOpenedInfo[index] = !userGroupsOpenedInfo[index]">
                <div class="name">
                  <div class="api-name">{{ line.nickname }}</div>
                  <div class="api-summary">{{ line.summary }}</div>
                </div>
                <div class="request">
                  <div class="api-request">
                    {{ line.method }}
                  </div>
                </div>
                <div class="type">
                  <div class="api-type">
                    {{ userGroupsApiTypes[index] }}
                  </div>
                </div>
              </div>
              <div class="addition">
                <div class="notes">
                  <div class="addition-title">Implementation Notes</div>
                  <div class="addition-text">{{ line.notes }}</div>
                </div>
                <div class="response">
                  <div class="addition-title">Response Class</div>
                  <custom-tabs class="common" [activeTabs]="true">
                    <custom-tab tabTitle="Model">
	                    <div *ngFor="let model of line.referral_models">
		                    <div class="model">
			                    <span class="model-title">{{ model }}</span>
			                    {{ '{' }}
			                    <pre class="model-properties">
				                    {{ userGroupsApiModels[model] | json }}
			                    </pre>
		                    </div>
	                    </div>
                    </custom-tab>
                    <custom-tab tabTitle="Model Schema">
                      <pre class="json">
                        {{ userGroupsApiModels[line.type] | json }}
                      </pre>
                    </custom-tab>
                  </custom-tabs>
                </div>
	              <div class="content-type half-width">
		              <div class="addition-subtitle">Response Content Type</div>
		              <div class="content-type-text">{{ line.consumes }}</div>
	              </div>
	              <div class="addition-title">Parameters</div>
	              <form class="parameters"
	                    #form="ngForm"
	                    method="post"
	                    (ngSubmit)="formSubmit(
                      userGroupsApiApiesPaths[index],
                      line.method,
                      form.value,
                      index,
                      tab.path)"
	                    ngNativeValidate>
		              <div class="parameter"
		                   *ngFor="let parameter of userGroupsApiApiesParams[index]; let first = first; let last = last;"
		                   [class.last]="last">
			              <div class="parameter-info half-width">
				              <div class="parameter-name-desc">
					              <div class="name">{{ parameter.name }}</div>
					              <div class="desc">{{ parameter.description }}</div>
				              </div>
				              <div class="parameter-input">
					              <input [class.required]="parameter.required"
					                     minlength="1"
					                     name="{{ parameter.name }}"
					                     [attr.placeholder]="parameter.required ? 'Required' : ''"
					                     [attr.required]="parameter.required ? 'required' : null"
					                     type="text"
					                     value=""
					                     #name="ngModel"
					                     ngModel>
				              </div>
			              </div>
			              <div class="parameter-type half-width">
				              <div class="addition-subtitle">Parameter Type</div>
				              <div class="parameter-type-type">
					              <span>{{ parameter.type }}</span>
				              </div>
			              </div>
			              <div class="data-type half-width">
				              <div class="addition-subtitle">Data Type</div>
				              <div class="data">
					              <span>{{ parameter.paramType }}</span>
				              </div>
			              </div>
		              </div>
		              <input class="submit btn btn_big waves-effect"
		                     name="commit"
		                     type="submit"
		                     value="Try it out!">
		              <div class="results" *ngIf="userGroupsRequestResult[index]">
			              <div class="addition-title">Request URL</div>
			              <pre>{{ userGroupsRequestUrl[index] }}</pre>
			              <div class="addition-title">Response Body</div>
			              <pre>{{ userGroupsResponseBody[index] }}</pre>
			              <div class="addition-title">Response Code</div>
			              <pre>{{ userGroupsResponseCode[index] }}</pre>
			              <div class="addition-title">Response Headers</div>
			              <pre>{{ userGroupsResponseHeaders[index] }}</pre>
		              </div>
	              </form>
              </div>
            </li>
          </ng-template>
          <ng-template [ngIf]="tab.path === '/../exchange.json'">
            <li class="line"
                *ngFor="let line of exchangeApiApies; let index = index;"
                [class.active]="exchangeOpenedInfo[index]">
              <div class="main"
                   (click)="exchangeOpenedInfo[index] = !exchangeOpenedInfo[index]">
                <div class="name">
                  <div class="api-name">{{ line.nickname }}</div>
                  <div class="api-summary">{{ line.summary }}</div>
                </div>
                <div class="request">
                  <div class="api-request">
                    {{ line.method }}
                  </div>
                </div>
                <div class="type">
                  <div class="api-type">
                    {{ exchangeApiTypes[index] }}
                  </div>
                </div>
              </div>
              <div class="addition">
                <div class="notes">
                  <div class="addition-title">Implementation Notes</div>
                  <div class="addition-text">{{ line.notes }}</div>
                </div>
                <div class="response">
                  <div class="addition-title">Response Class</div>
                  <custom-tabs class="common" [activeTabs]="true">
                    <custom-tab tabTitle="Model">
	                    <div *ngFor="let model of line.referral_models">
		                    <div class="model">
			                    <span class="model-title">{{ model }}</span>
			                    {{ '{' }}
			                    <pre class="model-properties">
				                    {{ exchangeApiModels[model] | json }}
			                    </pre>
		                    </div>
	                    </div>
                    </custom-tab>
                    <custom-tab tabTitle="Model Schema">
                      <pre class="json">
                        {{ exchangeApiModels[line.type] | json }}
                      </pre>
                    </custom-tab>
                  </custom-tabs>
                </div>
	              <div class="content-type half-width">
		              <div class="addition-subtitle">Response Content Type</div>
		              <div class="content-type-text">{{ line.consumes }}</div>
	              </div>
	              <div class="addition-title">Parameters</div>
	              <form class="parameters"
	                    #form="ngForm"
	                    method="post"
	                    (ngSubmit)="formSubmit(
                      exchangeApiApiesPaths[index],
                      line.method,
                      form.value,
                      index,
                      tab.path)"
	                    ngNativeValidate>
		              <div class="parameter"
		                   *ngFor="let parameter of exchangeApiApiesParams[index]; let first = first; let last = last;"
		                   [class.last]="last">
			              <div class="parameter-info half-width">
				              <div class="parameter-name-desc">
					              <div class="name">{{ parameter.name }}</div>
					              <div class="desc">{{ parameter.description }}</div>
				              </div>
				              <div class="parameter-input">
					              <input [class.required]="parameter.required"
					                     minlength="1"
					                     name="{{ parameter.name }}"
					                     [attr.placeholder]="parameter.required ? 'Required' : ''"
					                     [attr.required]="parameter.required ? 'required' : null"
					                     type="text"
					                     value=""
					                     #name="ngModel"
					                     ngModel>
				              </div>
			              </div>
			              <div class="parameter-type half-width">
				              <div class="addition-subtitle">Parameter Type</div>
				              <div class="parameter-type-type">
					              <span>{{ parameter.type }}</span>
				              </div>
			              </div>
			              <div class="data-type half-width">
				              <div class="addition-subtitle">Data Type</div>
				              <div class="data">
					              <span>{{ parameter.paramType }}</span>
				              </div>
			              </div>
		              </div>
		              <input class="submit btn btn_big waves-effect"
		                     name="commit"
		                     type="submit"
		                     value="Try it out!">
		              <div class="results" *ngIf="exchangeRequestResult[index]">
			              <div class="addition-title">Request URL</div>
			              <pre>{{ exchangeRequestUrl[index] }}</pre>
			              <div class="addition-title">Response Body</div>
			              <pre>{{ exchangeResponseBody[index] }}</pre>
			              <div class="addition-title">Response Code</div>
			              <pre>{{ exchangeResponseCode[index] }}</pre>
			              <div class="addition-title">Response Headers</div>
			              <pre>{{ exchangeResponseHeaders[index] }}</pre>
		              </div>
	              </form>
              </div>
            </li>
          </ng-template>
          <ng-template [ngIf]="tab.path === '/../wallet.json'">
            <li class="line"
                *ngFor="let line of walletApiApies; let index = index;"
                [class.active]="walletOpenedInfo[index]">
              <div class="main"
                   (click)="walletOpenedInfo[index] = !walletOpenedInfo[index]">
                <div class="name">
                  <div class="api-name">{{ line.nickname }}</div>
                  <div class="api-summary">{{ line.summary }}</div>
                </div>
                <div class="request">
                  <div class="api-request">
                    {{ line.method }}
                  </div>
                </div>
                <div class="type">
                  <div class="api-type">
                    {{ walletApiTypes[index] }}
                  </div>
                </div>
              </div>
              <div class="addition">
                <div class="notes">
                  <div class="addition-title">Implementation Notes</div>
                  <div class="addition-text">{{ line.notes }}</div>
                </div>
                <div class="response">
                  <div class="addition-title">Response Class</div>
                  <custom-tabs class="common" [activeTabs]="true">
                    <custom-tab tabTitle="Model">
	                    <div *ngFor="let model of line.referral_models">
		                    <div class="model">
			                    <span class="model-title">{{ model }}</span>
			                    {{ '{' }}
			                    <pre class="model-properties">
				                    {{ walletApiModels[model] | json }}
			                    </pre>
		                    </div>
	                    </div>
                    </custom-tab>
                    <custom-tab tabTitle="Model Schema">
                      <pre class="json">
                        {{ walletApiModels[line.type] | json }}
                      </pre>
                    </custom-tab>
                  </custom-tabs>
                </div>
	              <div class="content-type half-width">
		              <div class="addition-subtitle">Response Content Type</div>
		              <div class="content-type-text">{{ line.consumes }}</div>
	              </div>
	              <div class="addition-title">Parameters</div>
	              <form class="parameters"
	                    #form="ngForm"
	                    method="post"
	                    (ngSubmit)="formSubmit(
                      walletApiApiesPaths[index],
                      line.method,
                      form.value,
                      index,
                      tab.path)"
	                    ngNativeValidate>
		              <div class="parameter"
		                   *ngFor="let parameter of walletApiApiesParams[index]; let first = first; let last = last;"
		                   [class.last]="last">
			              <div class="parameter-info half-width">
				              <div class="parameter-name-desc">
					              <div class="name">{{ parameter.name }}</div>
					              <div class="desc">{{ parameter.description }}</div>
				              </div>
				              <div class="parameter-input">
					              <input [class.required]="parameter.required"
					                     minlength="1"
					                     name="{{ parameter.name }}"
					                     [attr.placeholder]="parameter.required ? 'Required' : ''"
					                     [attr.required]="parameter.required ? 'required' : null"
					                     type="text"
					                     value=""
					                     #name="ngModel"
					                     ngModel>
				              </div>
			              </div>
			              <div class="parameter-type half-width">
				              <div class="addition-subtitle">Parameter Type</div>
				              <div class="parameter-type-type">
					              <span>{{ parameter.type }}</span>
				              </div>
			              </div>
			              <div class="data-type half-width">
				              <div class="addition-subtitle">Data Type</div>
				              <div class="data">
					              <span>{{ parameter.paramType }}</span>
				              </div>
			              </div>
		              </div>
		              <input class="submit btn btn_big waves-effect"
		                     name="commit"
		                     type="submit"
		                     value="Try it out!">
		              <div class="results" *ngIf="walletRequestResult[index]">
			              <div class="addition-title">Request URL</div>
			              <pre>{{ walletRequestUrl[index] }}</pre>
			              <div class="addition-title">Response Body</div>
			              <pre>{{ walletResponseBody[index] }}</pre>
			              <div class="addition-title">Response Code</div>
			              <pre>{{ walletResponseCode[index] }}</pre>
			              <div class="addition-title">Response Headers</div>
			              <pre>{{ walletResponseHeaders[index] }}</pre>
		              </div>
	              </form>
              </div>
            </li>
          </ng-template>
          <ng-template [ngIf]="tab.path === '/../pos.json'">
            <li class="line"
                *ngFor="let line of posApiApies; let index = index;"
                [class.active]="posOpenedInfo[index]">
              <div class="main"
                   (click)="posOpenedInfo[index] = !posOpenedInfo[index]">
                <div class="name">
                  <div class="api-name">{{ line.nickname }}</div>
                  <div class="api-summary">{{ line.summary }}</div>
                </div>
                <div class="request">
                  <div class="api-request">
                    {{ line.method }}
                  </div>
                </div>
                <div class="type">
                  <div class="api-type">
                    {{ posApiTypes[index] }}
                  </div>
                </div>
              </div>
              <div class="addition">
                <div class="notes">
                  <div class="addition-title">Implementation Notes</div>
                  <div class="addition-text">{{ line.notes }}</div>
                </div>
                <div class="response">
                  <div class="addition-title">Response Class</div>
                  <custom-tabs class="common" [activeTabs]="true">
                    <custom-tab tabTitle="Model">
	                    <div *ngFor="let model of line.referral_models">
		                    <div class="model">
			                    <span class="model-title">{{ model }}</span>
			                    {{ '{' }}
			                    <pre class="model-properties">
				                    {{ posApiModels[model] | json }}
			                    </pre>
		                    </div>
	                    </div>
                    </custom-tab>
                    <custom-tab tabTitle="Model Schema">
                      <pre class="json">
                        {{ posApiModels[line.type] | json }}
                      </pre>
                    </custom-tab>
                  </custom-tabs>
                </div>

	              <div class="content-type half-width">
		              <div class="addition-subtitle">Response Content Type</div>
		              <div class="content-type-text">{{ line.consumes }}</div>
	              </div>
	              <div class="addition-title">Parameters</div>
	              <form class="parameters"
	                    #form="ngForm"
	                    method="post"
	                    (ngSubmit)="formSubmit(
                      posApiApiesPaths[index],
                      line.method,
                      form.value,
                      index,
                      tab.path)"
	                    ngNativeValidate>
		              <div class="parameter"
		                   *ngFor="let parameter of posApiApiesParams[index]; let first = first; let last = last;"
		                   [class.last]="last">
			              <div class="parameter-info half-width">
				              <div class="parameter-name-desc">
					              <div class="name">{{ parameter.name }}</div>
					              <div class="desc">{{ parameter.description }}</div>
				              </div>
				              <div class="parameter-input">
					              <input [class.required]="parameter.required"
					                     minlength="1"
					                     name="{{ parameter.name }}"
					                     [attr.placeholder]="parameter.required ? 'Required' : ''"
					                     [attr.required]="parameter.required ? 'required' : null"
					                     type="text"
					                     value=""
					                     #name="ngModel"
					                     ngModel>
				              </div>
			              </div>
			              <div class="parameter-type half-width">
				              <div class="addition-subtitle">Parameter Type</div>
				              <div class="parameter-type-type">
					              <span>{{ parameter.type }}</span>
				              </div>
			              </div>
			              <div class="data-type half-width">
				              <div class="addition-subtitle">Data Type</div>
				              <div class="data">
					              <span>{{ parameter.paramType }}</span>
				              </div>
			              </div>
		              </div>
		              <input class="submit btn btn_big waves-effect"
		                     name="commit"
		                     type="submit"
		                     value="Try it out!">
		              <div class="results" *ngIf="posRequestResult[index]">
			              <div class="addition-title">Request URL</div>
			              <pre>{{ posRequestUrl[index] }}</pre>
			              <div class="addition-title">Response Body</div>
			              <pre>{{ posResponseBody[index] }}</pre>
			              <div class="addition-title">Response Code</div>
			              <pre>{{ posResponseCode[index] }}</pre>
			              <div class="addition-title">Response Headers</div>
			              <pre>{{ posResponseHeaders[index] }}</pre>
		              </div>
	              </form>
              </div>
            </li>
          </ng-template>
        </ul>
      </custom-tab>
    </custom-tabs>
  </ng-template>
  <div class="why-payyex mb-50 mb-md-25">
    <h1 class="title black" translate>Why Payyex?</h1>
    <div class="why-content">
      <div class="answers">
        <div class="block">
          <h2 class="subtitle-bold black" translate>Payyex supports</h2>
          <p>{{ "why-payyex-first" | translate }}</p>
        </div>
        <div class="block">
          <h2 class="subtitle-bold black" translate>The platform's</h2>
          <p>{{ "why-payyex-second" | translate }}</p>
        </div>
        <div class="block">
          <h2 class="subtitle-bold black" translate>Turkish lira</h2>
          <p>{{ "why-payyex-third" | translate }}</p>
        </div>
        <div class="buttons">
          <a draggable="false" class="btn btn_big waves-effect" translate>Sign Up Now</a>
          <a draggable="false" class="btn additional" translate>Frequently Asked Questions</a>
        </div>
      </div>
      <div class="subscribe">
        <div class="subscribe-title" translate>
          Stay tuned!
        </div>
        <app-subscribe></app-subscribe>
      </div>
    </div>
  </div>
</div>
