router-outlet {
  &::ng-deep {
    ~ * {
      position: relative;
      top: 0;
      bottom: 0;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
.inside-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 90px;
  background: #f6f8f9;
  position: absolute;
  z-index: 9999;
  top: 0;
  left: 0;
  .logo {
    margin-top: 0;
    .title {
      padding-left: 50px;
      font-size: 12px;
      line-height: 1.5;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  @media screen and (max-width: 767px) {
    padding: 35px 20px;
  }
}
.move-back {
  position: absolute;
  width: 32px;
  left: 100px;
  top: 120px;
  opacity: .3;
  margin-top: 0 !important;
  &:hover {
    opacity: 1;
  }
}
.logo {
  @media screen and (max-width: 767px) {
    margin: auto;
    margin-top: 10px;
  }
  img {
    width: 215px;
  }
  .title {
    color: #6b7e9e;
    text-align: center;
    font-weight: 500;
    margin-top: 0;
  }
}
.page-content {
  padding: 80px 100px 90px;
  overflow: auto;
  text-align: center;
  position: relative;
  width: 100%;
  background-color: #f6f8f9;
  @media screen and (max-width: 767px) {
    padding: 100px 20px 250px;
    text-align: left;
  }
  &::ng-deep {
    .content {
      width: 55%;
      margin: auto;
      @media screen and (max-width: 1199px) {
        width: 80%;
      }
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .title {
      font-size: 46px;
      color: #4a4a49;
      line-height: 70px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-weight: 700;
      &.black {
        color: #4a4a49;
        background-color: transparent !important;
      }
      @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 50px;
        font-weight: 700;
        margin-top: 40px;
      }
    }
    .subtitle {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 400;
      @media screen and (max-width: 767px) {
        font-size: 30px;
        line-height: 46px;
        font-weight: 400;
        margin-top: 40px;
      }
    }
    .subtitle-bold {
      font-size: 30px;
      color: #495974;
      line-height: 28px;
      margin-bottom: 30px;
      font-weight: 600;
      &.black {
        color: #4a4a49;
        background-color: transparent !important;
      }
    }
    p {
      margin: 0;
      font-size: 16px;
      line-height: 28px;
      color: #495974;
      text-indent: 35px;
    }
    a {
      margin-top: 60px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    .exchange-blocks {
      margin: 50px 0;
      .block {
        margin: 80px 0;
        display: flex;
        align-content: center;
        flex-direction: row;
        @media screen and (max-width: 767px) {
          flex-direction: column;
          .image {
            width: 100% !important;
            padding-right: 0 !important;
          }
          .text {
            width: 100% !important;
            padding-left: 0 !important;
          }
        }
        .image {
          width: calc(50% - 25px);
          padding-right: 25px;
        }
        .text {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: calc(50% - 25px);
          padding-left: 25px;
          text-align: left;
          p {
            text-indent: 0;
          }
        }
      }
    }
    .why-payyex {
      position: relative;
      &:before {
        content: '';
        width: 300px;
        height: 400px;
        background: url('/../../assets/images/modal-bg.png') no-repeat 50% 50%;
        background-size: contain;
        position: absolute;
        z-index: -1;
        left: 0;
        @media screen and (max-width: 767px) {
          width: 930px;
          height: 470px;
          left: -20px;
        }
      }
      .why-content {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        position: relative;
      }
      .answers {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        margin-bottom: 50px;
        @media screen and (max-width: 1199px) {
          padding-right: 0;
          width: 100%;
          margin-bottom: 70px;
        }
        .block {
          text-align: left;
          padding: 0 15px;
          &.first {
            padding-left: 0;
          }
          &.third {
            padding-right: 0;
          }
          .subtitle-bold {
            margin-bottom: 15px;
          }
          p {
            text-indent: 0;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          left: 0;
          bottom: 100px;
          a {
            &.additional {
              margin-left: 40px;
            }
          }
          @media screen and (max-width: 767px) {
            flex-direction: column;
            .btn {
              width: 100%;
              display: block;
              margin-bottom: 20px;
              &:last-child {
                margin-bottom: 0;
              }
              &.additional {
                margin-top: 10px;
              }
            }
          }
        }
      }
      .subscribe {
        width: 50%;
        padding-right: 0;
        padding-left: 150px;
        @media screen and (max-width: 1399px) {
          padding-left: 60px;
        }
        @media screen and (max-width: 1199px) {
          padding-left: 0;
          padding-right: 0;
          width: 100%;
        }
        .subscribe-title {
          color: #495974;
          font-size: 16px;
          line-height: 28px;
          font-weight: 700;
          text-align: left;
          margin-bottom: 30px;
          @media screen and (max-width: 767px) {
            font-size: 16px;
            line-height: 28px;
          }
        }
        app-subscribe {
          /deep/ {
            form {
              display: flex;
              align-items: center;
              flex-direction: row;
              justify-content: space-between;
              @media screen and (max-width: 767px) {
                flex-direction: column;
              }
              &.ng-valid {
                h2 {
                  font-size: 23px;
                }
              }
              & > .row {
                margin-left: 0;
                width: 50%;
                @media screen and (max-width: 1199px) {
                  width: calc(100% - 270px);
                }
                @media screen and (max-width: 767px) {
                  width: 100%;
                }
                input {
                  margin-bottom: 0;
                }
              }
              .btn {
                &.btn_big {
                  margin-left: 0;
                  margin-right: 0;
                }
              }
            }
          }
        }
      }
    }
    custom-tabs {
      padding: 10px 10px;
      display: flex;
      position: relative;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 30px;
      min-height: initial;
      .tabs__tab-bar {
        display: flex;
        flex-direction: column;
        align-self: initial;
        border: 0;
        //box-shadow: 0 10px 20px 0 rgba(36, 50, 66, 0.06);
        //width: 250px;
        width: 23%;
        margin-right: 7%;
        position: relative;
        overflow: visible;
        &:before {
          content: '';
          position: absolute;
          box-shadow: 10px 0 20px 0 rgba(36, 50, 66, 0.06);
          width: 15px;
          height: 100%;
          right: 0;
          top: 0;
          bottom: 0;
        }
        li {
          background-color: transparent !important;
          text-align: left;
          transition: .2s ease-in;
          font-weight: 600;
          font-size: 16px;
          padding: 10px 15px;
          position: relative;
          margin-bottom: 5px;
          cursor: pointer;
          color: #495974;
          &:hover {
            color: #4b88e5;
          }
          &:last-child {
            margin-bottom: 0;
          }
          &:before {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 5px;
            height: 100%;
            background: url('../../assets/images/tab-active.svg') 50% 50% no-repeat;
            transition: .2s ease-in;
            opacity: 0;
          }
          &.active {
            color: #4b88e5;
            background-color: transparent !important;
            &:before {
              opacity: 1;
            }
          }
        }
      }
      custom-tab {
        display: flex;
        height: 100%;
        background-color: transparent;
        border-radius: 3px;
        border: 0;
        box-shadow: none;
        //box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06);
        width: 55%;
        .tabs__panel {
          background-color: transparent;
          border-radius: 3px;
          box-shadow: none;
          text-align: left;
          padding: 0 25px 30px;
          width: 100%;
          .title {
            font-size: 18px;
            line-height: 110%;
            font-weight: 600;
            color: #4a4a49;
            margin-top: 0;
            margin-bottom: 20px;
          }
          p {
            text-indent: 0;
            margin-bottom: 20px;
          }
          ul {
            margin-bottom: 15px;
            &.api {
              li {
                &.names {
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                  padding: 0 0 25px;
                  & > * {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 26px;
                    color: #4a4a49;
                  }
                  .name {
                    width: 67%;
                    padding: 0 25px;
                  }
                  .request {
                    width: 16.5%;
                    padding: 0 25px;
                    text-align: center;
                  }
                  .type {
                    width: 16.5%;
                    padding: 0 25px;
                    text-align: center;
                  }
                }
                &.line {
                  background-color: #fff;
                  box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06);
                  margin-bottom: 10px;
                  border-radius: 3px;
                  &.active {
                    .main {
                      background-color: #f4f8ff;
                      border-radius: 3px 3px 0 0;
                    }
                    .addition {
                      display: block;
                    }
                  }
                  .main {
                    padding: 25px 0;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    -webkit-transition: .2s ease-in;
                    transition: .2s ease-in;
                    .name {
                      width: 67%;
                      padding: 0 25px;
                      .api-name {
                        font-size: 18px;
                        font-weight: 600;
                        line-height: 30px;
                        color: #4a4a49;
                        text-transform: capitalize;
                      }
                      .api-summary {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 30px;
                        color: #495974;
                        &:first-letter {
                          text-transform: capitalize;
                        }
                      }
                    }
                    .request {
                      width: 16.5%;
                      padding: 0 25px;
                      text-transform: uppercase;
                    }
                    .type {
                      width: 16.5%;
                      padding: 0 25px;
                      text-transform: uppercase;
                    }
                  }
                  .addition {
                    padding: 25px;
                    display: none;
                    & > * {
                      margin-bottom: 15px;
                    }
                    .addition-title {
                      font-size: 18px;
                      font-weight: 600;
                      line-height: 30px;
                      color: #495974;
                    }
                    .addition-subtitle {
                      font-size: 14px;
                      font-weight: 600;
                      line-height: 30px;
                      color: #495974;
                    }
                    .addition-text {
                      font-size: 16px;
                      font-weight: 400;
                      line-height: 30px;
                      color: #495974;
                      &:first-letter {
                        text-transform: capitalize;
                      }
                    }
                    .half-width {
                      display: flex;
                      align-items: center;
                      flex-direction: row;
                      justify-content: space-between;
                      & > div {
                        width: 50%;
                        &:last-child {
                          text-align: left;
                        }
                      }
                    }
                    .content-type {
                      .content-type-text {
                        font-size: 16px;
                        font-weight: 600;
                        color: #4a4a49;
                        text-transform: capitalize;
                        text-align: left;
                      }
                    }
                    .parameter {
                      padding-bottom: 15px;
                      padding-top: 15px;
                      border-bottom: 1px solid #cececf;
                      &.first {
                        padding-top: 0;
                      }
                      &.last {
                        border-bottom: 0;
                      }
                      .parameter-info {
                        margin-bottom: 30px;
                        .parameter-name-desc {
                          .name {
                            font-size: 14px;
                            font-weight: 500;
                            line-height: 20px;
                            color: #495974;
                          }
                          .desc {
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 20px;
                            color: #495974;
                          }
                        }
                        .parameter-input {
                          input {
                            margin-bottom: 0;
                            height: 36px;
                            border-color: #cececf;
                            &:focus {
                              border-bottom: 1px solid #4b88e5;
                              -webkit-box-shadow: 0 1px 0 0 #4b88e5;
                              box-shadow: 0 1px 0 0 #4b88e5;
                            }
                          }
                        }
                      }
                      .parameter-type {
                        margin-bottom: 10px;
                        .parameter-type-type {
                          span {
                            background-color: #4b88e5;
                            box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06);
                            display: block;
                            width: 64px;
                            padding: 0 5px;
                            border-radius: 100px;
                            color: #fff;
                            font-size: 10px;
                            line-height: 22px;
                            font-weight: 500;
                            text-align: center;
                            height: 20px;
                            text-transform: uppercase;
                          }
                        }
                      }
                      .data-type {
                        .data {
                          span {
                            background-color: #4b88e5;
                            box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06);
                            display: block;
                            width: 64px;
                            padding: 0 5px;
                            border-radius: 100px;
                            color: #fff;
                            font-size: 10px;
                            line-height: 22px;
                            font-weight: 500;
                            text-align: center;
                            height: 20px;
                            text-transform: uppercase;
                          }
                        }
                      }
                    }
                    .results {
                      margin-top: 40px;
                      pre {
                        background-color: #fcfcfc;
                        padding: 10px;
                        max-height: 400px;
                        overflow-y: auto;
                      }
                    }
                    .submit {
                      width: 170px;
                    }
                  }
                  .api-request,
                  .api-type {
                    width: calc(100% - 10px);
                    margin: auto;
                    padding: 0 5px;
                    border-radius: 100px;
                    color: #fff;
                    font-size: 10px;
                    line-height: 22px;
                    font-weight: 500;
                    text-align: center;
                    height: 20px;
                  }
                  .api-request {
                    background-color: #00a651;
                    box-shadow: 0 5px 10px 0 rgba(0, 166, 81, 0.06);
                  }
                  .api-type {
                    background-color: #4b88e5;
                    box-shadow: 0 5px 10px 0 rgba(36, 50, 66, 0.06);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .move-back {
    display: none;
  }
}
