:host {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.main-block-wrapper {
  //height: calc(100vh - 75px);
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 40px;
  @media screen and (max-width: 767px) {
    height: 100%;
    margin-bottom: 175px;
  }
  .video-wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    min-height: 480px;
    &:before {
      content: '';
      //background: -moz-linear-gradient(-45deg, rgba(44,48,77,0.7) 0%, rgba(36,41,63,0.7) 100%);
      //background: -webkit-linear-gradient(-45deg, rgba(44,48,77,0.7) 0%,rgba(36,41,63,0.7)100%);
      //background: linear-gradient(135deg, rgba(44,48,77,0.7) 0%,rgba(36,41,63,0.7) 100%);
      background: -moz-linear-gradient(-45deg, rgba(6, 4, 47, 1), rgba(29, 57, 98, .8));
      background: -webkit-linear-gradient(-45deg, rgba(6, 4, 47, 1), rgba(29, 57, 98, .8));
      background: linear-gradient(135deg, rgba(6, 4, 47, 1), rgba(29, 57, 98, .8));
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06042f', endColorstr='#1d3962',GradientType=1 );
      position: absolute;
      z-index: 1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
    .cross {
      width: 165px;
      height: 165px;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;
      -webkit-animation-timing-function: cubic-bezier(.23,1,.32,1);
      animation-timing-function: cubic-bezier(.23,1,.32,1);
      -webkit-animation-duration: 10s;
      animation-duration: 10s;
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      &.cross-blue {
        background-image: url('../../assets/images/cross-blue.png');
      }
      &.cross-purple {
        background-image: url('../../assets/images/cross-purple.png');
      }
      &.cross-1 {
        //left: -20px;
        //top: 35px;
        left: -0.8%;
        top: 5%;
        -webkit-animation-name: cross1;
        animation-name: cross1;
        -webkit-animation-duration: 85s;
        animation-duration: 85s;
      }
      &.cross-2 {
        //left: 175px;
        //top: 260px;
        left: 7%;
        top: 34%;
        -webkit-animation-name: cross2;
        animation-name: cross2;
        -webkit-animation-duration: 81s;
        animation-duration: 81s;
      }
      &.cross-3 {
        //left: 35px;
        //top: 460px;
        left: 1.5%;
        top: 61%;
        -webkit-animation-name: cross3;
        animation-name: cross3;
        -webkit-animation-duration: 83s;
        animation-duration: 83s;
      }
      &.cross-4 {
        //left: 115px;
        //top: 640px;
        left: 4.5%;
        top: 85%;
        -webkit-animation-name: cross4;
        animation-name: cross4;
        -webkit-animation-duration: 95s;
        animation-duration: 95s;
      }
      &.cross-5 {
        //left: 250px;
        //top: 70px;
        left: 10%;
        top: 9%;
        -webkit-animation-name: cross5;
        animation-name: cross5;
        -webkit-animation-duration: 90s;
        animation-duration: 90s;
      }
      &.cross-6 {
        //left: 410px;
        //top: 555px;
        left: 16%;
        top: 74%;
        -webkit-animation-name: cross6;
        animation-name: cross6;
        -webkit-animation-duration: 88s;
        animation-duration: 88s;
      }
      &.cross-7 {
        //left: 455px;
        //top: 145px;
        left: 18%;
        top: 19%;
        -webkit-animation-name: cross7;
        animation-name: cross7;
        -webkit-animation-duration: 86s;
        animation-duration: 86s;
      }
      &.cross-8 {
        //left: 700px;
        //top: 45px;
        left: 27%;
        top: 6%;
        -webkit-animation-name: cross8;
        animation-name: cross8;
        -webkit-animation-duration: 83s;
        animation-duration: 83s;
      }
      &.cross-9 {
        //left: 680px;
        //top: 370px;
        left: 25%;
        top: 49%;
        -webkit-animation-name: cross9;
        animation-name: cross9;
        -webkit-animation-duration: 80s;
        animation-duration: 80s;
      }
      &.cross-10 {
        //left: 755px;
        //top: 560px;
        left: 29%;
        top: 74%;
        -webkit-animation-name: cross10;
        animation-name: cross10;
        -webkit-animation-duration: 78s;
        animation-duration: 78s;
      }
    }
  }
  .video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('../../assets/images/video-poster.jpg') no-repeat;
    background-size: cover;
    //-webkit-filter: blur(5px);
    //-moz-filter: blur(5px);
    //-o-filter: blur(5px);
    //-ms-filter: blur(5px);
    //filter: blur(5px);
  }
}
.main-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
  }
  @media screen and (max-width: 767px) {
    padding-top: 75px;
    height: 100%;
  }
  .signup {
    width: 335px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-right: 170px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      right: -85px;
      height: 125%;
      width: 1px;
      background: -moz-linear-gradient(top, rgba(108,123,224,0) 0%, #4b88e5 50%, rgba(108,123,224,0) 100%);
      background: -webkit-linear-gradient(top, rgba(108,123,224,0) 0%, #4b88e5 50%, rgba(108,123,224,0) 100%);
      background: linear-gradient(to bottom, rgba(108,123,224,0) 0%, #4b88e5 50%, rgba(108,123,224,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006c7be0', endColorstr='#006c7be0',GradientType=0 );
      //background: #fff;
      //opacity: .6;
    }
    @media screen and (max-width: 1199px) {
      margin-right: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      &:before {
        display: none;
      }
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    .logo {
      width: 100%;
      max-width: 335px;
      @media screen and (max-width: 1199px) {
        margin-right: 100px;
      }
      @media screen and (max-width: 767px) {
        margin-right: 0;
        max-width: 250px;
      }
      img {
        width: 100%;
      }
      .title {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        color: #fff;
        margin-top: 25px;
        margin-bottom: 40px;
        @media screen and (max-width: 1199px) {
          margin-bottom: 0;
          margin-top: 20px;
        }
        @media screen and (max-width: 1199px) {
          margin-top: 0;
        }
      }
    }
    .buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 230px;
      margin: auto;
      @media screen and (max-width: 1199px) {
        margin: 0;
      }
      @media screen and (max-width: 767px) {
        margin-top: 55px;
      }
      .middle {
        color: #fff;
        margin: 30px 0;
        background: none;
        box-shadow: none;
        text-transform: uppercase;
        font-size: 12px;
        opacity: .6;
        width: 100%;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        &:before,
        &:after {
          content: '';
          display: block;
          background: #fff;
          opacity: .6;
          width: 15px;
          height: 1px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
        @media screen and (max-width: 1199px) {
          margin: 15px 0;
        }
        @media screen and (max-width: 767px) {
          margin: 25px 0;
        }

      }
    }
  }
  .advantages {
    max-width: 670px;
    width: 100%;
    @media screen and (max-width: 1199px) {
      margin-top: 50px;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 50px;
      padding: 0 20px;
    }
    .title {
      font-size: 46px;
      color: #fff;
      margin-bottom: 45px;
      @media screen and (max-width: 1199px) {
        line-height: 46px;
        margin-bottom: 0;
      }
      @media screen and (max-width: 767px) {
        font-size: 34px;
        line-height: 50px;
        text-align: center;
        font-weight: 500;
      }
    }
    .list {
      list-style: none;
      padding-left: 0;
      &.muted {
        li {
          opacity: .3;
          //color: rgba(255,255,255,.5);
          &.active {
            opacity: 1;
            //color: rgba(255,255,255,1);
            text-shadow: 0 0 10px #5870ee, 0 3px 25px #fff;
            //text-shadow: 0 0 0px rgba(255,255,255,1), 0 0 0px rgba(255,255,255,1), 0 0 0px rgba(255,255,255,1), 0 0 0px #ffffff, 0 0 20px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
          }
        }
      }
      @media screen and (max-width: 767px) {
        margin: 50px 0;
      }
      li {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        background: url('../../assets/images/checked.svg') 0 50% no-repeat;
        background-size: 20px;
        padding-left: 45px;
        line-height: 40px;
        margin-bottom: 0;
        transition: .1s ease-in;
        cursor: pointer;
        outline: 0;
        &:focus {
          outline: 0;
        }
        .active {
          color: rgba(255,255,255,1);
          text-shadow: 0 0 0px rgba(255,255,255,1), 0 0 0px rgba(255,255,255,1), 0 0 0px rgba(255,255,255,1), 0 0 0px #ffffff, 0 0 20px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
        }
        &:last-child {
          margin-bottom: 0;
        }
        @media screen and (max-width: 767px) {
          line-height: 30px;
          margin-bottom: 20px;
          padding-left: 70px;
          background-position: 20px 4px;
          background-size: 30px;
        }
      }
    }
    .pages-list {
      list-style: none;
      display: flex;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        margin-top: 10px;
      }
      li {
        color: #93b0c7;
        font-size: 16px;
        margin-right: 35px;
        padding-left: 20px;
        position: relative;
        transition: .2s ease-in;
        cursor: pointer;
        &:hover,
        &:focus {
          color: #acc9e2;
          outline: 0;
        }
        &:before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          //background-color: #93b0c7;
          background: rgba(103,222,216,1);
          background: -moz-linear-gradient(left, rgba(103,222,216,1) 0%, rgba(2,162,225,1) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(103,222,216,1)), color-stop(100%, rgba(2,162,225,1)));
          background: -webkit-linear-gradient(left, rgba(103,222,216,1) 0%, rgba(2,162,225,1) 100%);
          background: -o-linear-gradient(left, rgba(103,222,216,1) 0%, rgba(2,162,225,1) 100%);
          background: -ms-linear-gradient(left, rgba(103,222,216,1) 0%, rgba(2,162,225,1) 100%);
          background: linear-gradient(to right, rgba(103,222,216,1) 0%, rgba(2,162,225,1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67ded8', endColorstr='#02a2e1', GradientType=1 );
          border-radius: 100%;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          box-shadow: 0 6px 8px rgba(75, 136, 229, .4);
        }
        @media screen and (max-width: 767px) {
          line-height: 40px;
        }
      }
    }
    p {
      font-size: 18px;
      color: #fff;
      margin-top: 40px;
      margin-bottom: 0;
      @media screen and (max-width: 1199px) {
        margin-top: 15px;
      }
      @media screen and (max-width: 767px) {
        text-align: center;
        margin-top: 0;
      }
      a {
        color: #acc9e2;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
@keyframes cross1 {
  0% {
    left: -0.8%;
    top: 5%;
  }
  25% {
    left: -1.8%;
    top: 25%;
  }
  50% {
    left: -1.3%;
    top: 45%;
  }
  75% {
    left: 3%;
    top: 80%
  }
  100% {
    left: 9.2%;
    top: 100%;
  }
}
@keyframes cross2 {
  0% {
    left: 7%;
    top: 34%;
  }
  50% {
    left: 5%;
    top: 62%;
  }
  100% {
    left: 16%;
    top: 130%;
  }
}
@keyframes cross3 {
  0% {
    left: 1.5%;
    top: 61%;
  }
  50% {
    left: 0;
    top: 71%;
  }
  100% {
    left: 8.5%;
    top: 145%;
  }
}
@keyframes cross4 {
  0% {
    left: 4.5%;
    top: 85%;
  }
  25% {
    left: 4%;
    top: 87%;
  }
  50% {
    left: 3%;
    top: 89%;
  }
  75% {
    left: 5%;
    top: 93%;
  }
  100% {
    left: 6.5%;
    top: 121%;
  }
}
@keyframes cross5 {
  0% {
    left: 10%;
    top: 9%;
  }
  100% {
    left: 23%;
    top: 110%;
  }
}
@keyframes cross6 {
  0% {
    left: 16%;
    top: 74%;
  }
  25% {
    left: 20%;
    top: 68%;
  }
  100% {
    left: 24%;
    top: 128%;
  }
}
@keyframes cross7 {
  0% {
    left: 18%;
    top: 19%;
  }
  35% {
    left: 21%;
    top: 29%;
  }
  100% {
    left: 28%;
    top: 104%;
  }
}
@keyframes cross8 {
  0% {
    left: 27%;
    top: 6%;
  }
  25% {
    left: 31%;
    top: 33%;
  }
  50% {
    left: 28%;
    top: 66%;
  }
  75% {
    left: 30%;
    top: 87%;
  }
  100% {
    left: 38%;
    top: 112%;
  }
}
@keyframes cross9 {
  0% {
    left: 25%;
    top: 49%;
  }
  50% {
    left: 27%;
    top: 91%;
  }
  100% {
    left: 36%;
    top: 131%;
  }
}
@keyframes cross10 {
  0% {
    left: 29%;
    top: 74%;
  }
  50% {
    left: 26%;
    top: 84%;
  }
  100% {
    left: 24%;
    top: 125%;
  }
}
//&.cross-1 {
//  //left: -20px;
//  //top: 35px;
//  left: -0.8%;
//  top: 5%;
//}
//&.cross-2 {
//  //left: 175px;
//  //top: 260px;
//  left: 7%;
//  top: 34%;
//}
//&.cross-3 {
//  //left: 35px;
//  //top: 460px;
//  left: 1.5%;
//  top: 61%;
//}
//&.cross-4 {
//  //left: 115px;
//  //top: 640px;
//  left: 4.5%;
//  top: 85%;
//}
//&.cross-5 {
//  //left: 250px;
//  //top: 70px;
//  left: 10%;
//  top: 9%;
//}
//&.cross-6 {
//  //left: 410px;
//  //top: 555px;
//  left: 16%;
//  top: 74%;
//}
//&.cross-7 {
//  //left: 455px;
//  //top: 145px;
//  left: 18%;
//  top: 19%;
//}
//&.cross-8 {
//  //left: 700px;
//  //top: 45px;
//  left: 27%;
//  top: 6%;
//}
//&.cross-9 {
//  //left: 680px;
//  //top: 370px;
//  left: 25%;
//  top: 49%;
//}
//&.cross-10 {
//  //left: 755px;
//  //top: 560px;
//  left: 29%;
//  top: 74%;
//}
