.exchange-blocks {
  margin-top: 80px;
  align-items: flex-start !important;
  .block {
    width: 21%;
    padding: 0 15px;
    margin: 0 2%;
    .text {
      text-align: center;
      margin: 40px auto 0;
      padding-left: 0;
      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      color: #4a4a49;
    }
  }
}
a {
  margin-top: 0 !important;
  &.link {
    color: #4b88e5;
  }
}

.api-text-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 25px;
  color: #4a4a49;
  text-align: center;
}
.buttons {
  margin-top: 60px;
}
.why-payyex {
  position: relative;
  &:before {
    content: '';
    width: 300px;
    height: 400px;
    background: url('/../../assets/images/modal-bg.png') no-repeat 50% 50%;
    background-size: contain;
    position: absolute;
    z-index: -1;
    left: 0;
    @media screen and (max-width: 767px) {
      width: 930px;
      height: 470px;
      left: -20px;
    }
  }
  .why-content {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    position: relative;
  }
  .answers {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 50px;
    @media screen and (max-width: 1199px) {
      padding-right: 0;
      width: 100%;
      margin-bottom: 70px;
    }
    .block {
      text-align: left;
      padding: 0 15px;
      &.first {
        padding-left: 0;
      }
      &.third {
        padding-right: 0;
      }
      .subtitle-bold {
        margin-bottom: 15px;
      }
      p {
        text-indent: 0;
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      left: 0;
      bottom: 100px;
      a {
        &.additional {
          margin-left: 40px;
        }
      }
      @media screen and (max-width: 767px) {
        flex-direction: column;
        .btn {
          width: 100%;
          display: block;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
          &.additional {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .subscribe {
    width: 50%;
    padding-right: 0;
    padding-left: 150px;
    @media screen and (max-width: 1399px) {
      padding-left: 60px;
    }
    @media screen and (max-width: 1199px) {
      padding-left: 0;
      padding-right: 0;
      width: 100%;
    }
    .subscribe-title {
      color: #495974;
      font-size: 16px;
      line-height: 28px;
      font-weight: 700;
      text-align: left;
      margin-bottom: 30px;
      @media screen and (max-width: 767px) {
        font-size: 16px;
        line-height: 28px;
      }
    }
    app-subscribe {
      /deep/ {
        form {
          display: flex;
          align-items: center;
          flex-direction: row;
          justify-content: space-between;
          @media screen and (max-width: 767px) {
            flex-direction: column;
          }
          &.ng-valid {
            h2 {
              font-size: 23px;
            }
          }
          & > .row {
            margin-left: 0;
            width: 50%;
            @media screen and (max-width: 1199px) {
              width: calc(100% - 270px);
            }
            @media screen and (max-width: 767px) {
              width: 100%;
            }
            input {
              margin-bottom: 0;
            }
          }
          .btn {
            &.btn_big {
              margin-left: 0;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
}