<h1 class="title black">{{ "api-title" | translate }}</h1>
<div class="content">
  <p class="pl-50 pr-50 mg-auto w-70 w-xs-100">{{ "api-first-paragraph" | translate }}</p>
  <p>{{ "api-second-paragraph" | translate }}</p>
  <h2 class="subtitle-bold black mt-50 mt-xs-25">{{ "api-subtitle" | translate }}</h2>
  <div class="exchange-blocks">
    <div class="block">
      <div class="image">
        <img src="assets/images/api-access.svg" alt="access">
      </div>
      <div class="text">
        <span translate>{{ "api-blocks-first" | translate }}</span>
      </div>
    </div>
    <div class="block">
      <div class="image">
        <img src="assets/images/api-oauth.svg" alt="oauth">
      </div>
      <div class="text">
        <span translate>{{ "api-blocks-second" | translate }}</span>
      </div>
    </div>
    <div class="block">
      <div class="image">
        <img src="assets/images/api-access-user.svg" alt="access user">
      </div>
      <div class="text">
        <span translate>{{ "api-blocks-third" | translate }}</span>
      </div>
    </div>
    <div class="block">
      <div class="image">
        <img src="assets/images/api-auto.svg" alt="auto">
      </div>
      <div class="text">
        <span translate>{{ "api-blocks-fourth" | translate }}</span>
      </div>
    </div>
  </div>
  <div class="mt-50 mt-xs-25">
    <div class="api-text-title">{{ "api-subtitle-second" | translate }}</div>
    <a [routerLink]="['/apidocs']" class="btn btn_big waves-effect">{{ "api-subtitle-second-link" | translate }}</a>
  </div>
</div>
<div class="why-payyex pb-150 pb-md-50 mt-50 mt-xs-25">
  <h1 class="title" translate>Why Payyex?</h1>
  <div class="why-content">
    <div class="answers">
      <div class="block">
        <h2 class="subtitle-bold" translate>Payyex supports</h2>
        <p>{{ "why-payyex-first" | translate }}</p>
      </div>
      <div class="block">
        <h2 class="subtitle-bold" translate>The platform's</h2>
        <p>{{ "why-payyex-second" | translate }}</p>
      </div>
      <div class="block">
        <h2 class="subtitle-bold" translate>Turkish lira</h2>
        <p>{{ "why-payyex-third" | translate }}</p>
      </div>
      <div class="buttons">
        <a draggable="false" class="btn btn_big waves-effect" translate>Sign Up Now</a>
        <a draggable="false" class="btn additional" translate [routerLink]="['/faq']">Frequently Asked Questions</a>
      </div>
    </div>
    <div class="subscribe">
      <div class="subscribe-title" translate>
        Stay tuned!
      </div>
      <app-subscribe></app-subscribe>
    </div>
  </div>
</div>