:host {
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}
.main-block-wrapper {
  //height: calc(100vh - 75px);
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 40px;
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    justify-content: flex-start;
    padding: 35px 0;
  }
  @media screen and (max-width: 767px) {
    height: 100%;
    margin-bottom: 175px;
  }
}
.logo {
  position: relative;
  z-index: 2;
  margin-right: 170px;
  @media screen and (max-width: 1199px) {
    margin: 0 auto 50px;
  }
  @media screen and (max-width: 767px) {
    max-width: 250px;
    margin: auto;
    img {
      width: 100%;
    }
  }
  .title {
    color: #6b7e9e;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
  }
}
::ng-deep {
  .block {
    width: 400px;
    height: 420px;
    position: relative;
    z-index: 1;
    @media screen and (max-width: 767px) {
      width: 100%;
      height: initial;
      padding: 0 20px;
      margin-top: 50px;
    }
    form {
      width: 400px;
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }
    h1 {
      font-size: 46px;
      color: #6b7e9e;
      margin-top: 0;
      margin-bottom: 30px;
      @media screen and (max-width: 767px) {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 50px;
      }
    }
    .buttons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 767px) {
        flex-direction: column;
        .btn {
          width: 100%;
          display: block;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
